<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unique Games</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link rel="stylesheet" th:href="@{/css/am-pagination.css}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="js/admin-script.js"></script>
    <script src="js/am-pagination.js"></script>
    <script>
        $(document).ready(function () {
            getPage("game", 1);

            $("#select-order").change(function () {
                getPage("game", 1);
            });

            function getPage(type = "game", page = 1) {
                var array = $("#select-order").val();

                $.ajax({
                    url: "/admin-game-list-data",
                    data: {type: type, array: array, page: page},
                    success: function (result) {
                        if(result =="error"){
                            window.location.href = "/order/error";
                        }
                        let returnData = JSON.parse(result);
                        let str = '<p id="p-member-count">등록된 게임 : ' + returnData.gameCount + '개</p>';
                        let output = "";

                        if (returnData.nothing) {
                            alert("데이터가 존재하지 않습니다.");
                        } else {
                            output += '<div id="div-game-table">';
                            output += '<table id="table-game-list">';
                            output += '<tr> <th>선택</th> <th>제목</th> <th>회사</th> <th>메뉴</th> </tr>';
                            for (let game of returnData.gameList) {
                                output += '<tr>';
                                output += '<td><input type="checkbox" name="chk-admin" value="' + game.id + '"></td>';
                                output += '<td>' + game.title + '</td>';
                                output += '<td><a href="/admin-detail-member?id=' + game.cId + '&type=company">' + game.company + '</a></td>';
                                output += '<td> <a href="/detail/' + game.id + '" target="_blank"><button type="button" id="btn-game-detail">상세 페이지</button></a>';
                                output += '<a href="/admin-update-game?id=' + game.id + '"><button type="button" id="btn-game-update">정보 수정</button></a> </td>';
                            }
                            output += '<tr> <td colspan="5"> <div id="ampaginationsm"></div> </td> </tr>';
                            output += '</table>';
                            output += '</div>';

                            $("#p-member-count").remove();
                            $("#div-hidden").after(str);
                            $("#div-game-table").remove();
                            $("#div-member-info").after(output);

                            //페이징 처리 함수 호출
                            pager(returnData.totals, returnData.maxSize, returnData.pageSize, returnData.page);

                            //페이지 번호 클릭 이벤트 처리
                            jQuery('#ampaginationsm').on('am.pagination.change', function (e) {
                                var type = $("#table-type").val();
                                jQuery('.showlabelsm').text('The selected page no: ' + e.page);

                                getPage(type, e.page);
                            });
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            }

            function pager(totals, maxSize, pageSize, page) {
                //alert(totals+","+maxSize+","+pageSize+","+page);

                var pager = jQuery('#ampaginationsm').pagination({

                    maxSize: maxSize,	    		// max page size
                    totals: totals,	// total pages
                    page: page,		// initial page
                    pageSize: pageSize,			// max number items per page

                    // custom labels
                    lastText: '&raquo;&raquo;',
                    firstText: '&laquo;&laquo;',
                    prevText: '&laquo;',
                    nextText: '&raquo;',

                    btnSize: 'lg'	// 'sm'  or 'lg'
                });
            }
        });
    </script>
</head>
<body>
<!-- header -->
<div th:replace="~{main/header :: headerFragment}"></div>

<!-- content -->
<input type="hidden" id="admin-type" value="a-gamelist">
<input type="hidden" id="table-type" value="game">
<section id="top-bg">
    <div id="base-layer">
        <div id="top-bg-textarea">
            <p id="top-title">Admin</p>
            <p id="top-subtitle">#관리자_페이지</p>
        </div>
    </div>
</section>

<div id="div-admin">
    <div id="div-sidebar">
        <ul id="ul-sidebar">
            <li id="li-sidebar">
                <a href="/admin" id="a-memberlist">회원 관리</a>
                <a href="/admin-game-list" id="a-gamelist">게임 관리</a>
                <a href="/admin-game-register" id="a-gameregister">게임 등록</a>
                <a href="/admin-donation" id="a-donation">정산 현황</a>
                <a href="/admin-comment-list" id="a-comment">댓글 관리</a>
            </li>
        </ul>
    </div>
    <div id="div-viewer">
        <p id="p-title">게임 관리</p>
        <div id="div-member-info">
            <input type="hidden" id="div-hidden">
            <!-- p Tag-->
            <button type="button" id="btn-mslect-delete">선택 삭제</button>
            <select id="select-order">
                <option value="name_asc">제목 (ㄱ~ㅎ)</option>
                <option value="name_desc">제목 (ㅎ~ㄱ)</option>
            </select>
        </div>
        <!-- Table -->
    </div>
</div>
<!-- footer -->
<div th:replace="~{main/footer::footerFragment}"></div>
</body>
</html>