<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unique Games</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link rel="stylesheet" th:href="@{/css/am-pagination.css}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="js/admin-script.js"></script>
    <script src="js/am-pagination.js"></script>
    <script>
        $(document).ready(function () {
            getPage(1);

            // $("#btn-inquiry").click(function () {
            //     var year = $("#select-year").val();
            //     var month = $("#select-month").val();
            //     getPage(year, month, 1);
            // });

            $("#select-order").change(function () {
                getPage(1);
            });


            function getPage(page) {
                var array = $("#select-order").val();

                $.ajax({
                    url: "/admin-donation-data",
                    data: {array: array, page: page},
                    success: function (result) {
                        if(result =="error"){
                            window.location.href = "/order/error";
                        }
                        let returnData = JSON.parse(result);
                        let output = "";

                        if (returnData.nothing) {
                            $("#div-member-table").remove();
                        } else {
                            output += '<div id="div-member-table"> <table id="table-member-list">';
                            output += '<tr> <th>번호</th> <th>회사명</th> <th>게임</th> <th>금액 (단위: 원)</th> </tr>';

                            for (let donation of returnData.donationList) {
                                output += '<tr>';
                                output += '<td>' + donation.rno + '</td>';
                                output += '<td>' + donation.company + '</td>';
                                output += '<td>' + donation.game + '</td>';
                                output += '<td>' + donation.amount + '</td>';
                                output += '</tr>';
                            }
                            output += '<tr> <td colspan="5"> <div id="ampaginationsm"></div> </td> </tr>';
                            output += '</table> </div>';

                            $("#div-member-table").remove();
                            $("#div-donation-info").after(output);

                            //페이징 처리 함수 호출
                            pager(returnData.totals, returnData.maxSize, returnData.pageSize, returnData.page);

                            //페이지 번호 클릭 이벤트 처리
                            jQuery('#ampaginationsm').on('am.pagination.change', function (e) {
                                jQuery('.showlabelsm').text('The selected page no: ' + e.page);
                                getPage(e.page);
                            });
                        }
                    }
                });
            }

            function pager(totals, maxSize, pageSize, page) {
                var pager = jQuery('#ampaginationsm').pagination({

                    maxSize: maxSize,
                    totals: totals,
                    page: page,
                    pageSize: pageSize,

                    // custom labels
                    lastText: '&raquo;&raquo;',
                    firstText: '&laquo;&laquo;',
                    prevText: '&laquo;',
                    nextText: '&raquo;',

                    btnSize: 'lg'	// 'sm'  or 'lg'
                });
            }
        });
    </script>
</head>

<body>
<!-- header -->
<div th:replace="~{main/header :: headerFragment}"></div>

<!-- content -->
<input type="hidden" id="admin-type" value="a-donation">
<section id="top-bg">
    <div id="base-layer">
        <div id="top-bg-textarea">
            <p id="top-title">Admin</p>
            <p id="top-subtitle">#관리자_페이지</p>
        </div>
    </div>
</section>

<div id="div-admin">
    <div id="div-sidebar">
        <ul id="ul-sidebar">
            <li id="li-sidebar">
                <a href="/admin" id="a-memberlist">회원 관리</a>
                <a href="/admin-game-list" id="a-gamelist">게임 관리</a>
                <a href="/admin-game-register" id="a-gameregister">게임 등록</a>
                <a href="/admin-donation" id="a-donation">정산 현황</a>
                <a href="/admin-comment-list" id="a-comment">댓글 관리</a>
            </li>
        </ul>
    </div>
    <div id="div-viewer">
        <p id="p-title">이번달 정산금 조회</p>
        <div id="div-donation-info">
<!--            <select id="select-year">-->
<!--                <option th:each="year : ${yearList}" th:value="${year}" th:text="${year}"></option>-->
<!--            </select>-->
<!--            <select id="select-month">-->
<!--                <option value="All">All</option>-->
<!--                <option value="1">1</option>-->
<!--                <option value="2">2</option>-->
<!--                <option value="3">3</option>-->
<!--                <option value="4">4</option>-->
<!--                <option value="5">5</option>-->
<!--                <option value="6">6</option>-->
<!--                <option value="7">7</option>-->
<!--                <option value="8">8</option>-->
<!--                <option value="9">9</option>-->
<!--                <option value="10">10</option>-->
<!--                <option value="11">11</option>-->
<!--                <option value="12">12</option>-->
<!--            </select>-->
<!--            <button type="button" id="btn-inquiry">조회</button>-->
            <select id="select-order">
                <option value="name_asc">회사명 (ㄱ~ㅎ)</option>
                <option value="name_desc">회사명 (ㅎ~ㄱ)</option>
                <option value="amount_desc">높은 후원금순</option>
                <option value="amount_asc">낮은 후원금순</option>
            </select>
        </div>
        <!--Table-->

    </div>
</div>
<!-- footer -->
<div th:replace="~{main/footer::footerFragment}"></div>
</body>
</html>