<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unique Games</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="js/admin-script.js"></script>
</head>
<body>
<!-- header -->
<div th:replace="~{/main/header :: headerFragment}"></div>

<!-- content -->
<input type="hidden" id="admin-type" value="a-memberlist">
<input type="hidden" id="member-type" th:value="${type}">
<section id="top-bg">
    <div id="base-layer">
        <div id="top-bg-textarea">
            <p id="top-title">Admin</p>
            <p id="top-subtitle">#관리자_페이지</p>
        </div>
    </div>
</section>

<div id="div-admin">
    <div id="div-sidebar">
        <ul id="ul-sidebar">
            <li id="li-sidebar">
                <a href="/admin" id="a-memberlist">회원 관리</a>
                <a href="/admin-game-list" id="a-gamelist">게임 관리</a>
                <a href="/admin-game-register" id="a-gameregister">게임 등록</a>
                <a href="/admin-donation" id="a-donation">정산 현황</a>
                <a href="/admin-comment-list" id="a-comment">댓글 관리</a>
            </li>
        </ul>
    </div>
    <div id="div-viewer">
        <button id="btn-back"></button>
        <p id="p-title">회원 정보</p>
        <div id="div-member-detail">
            <ul id="ul-detail">
                <li>
                    <p id="p-detail">아이디</p>
                    <input type="text" id="id" disabled="disabled" th:value="${id}">
                </li>
                <li>
                    <p id="p-detail">이름</p>
                    <input type="text" id="name" disabled="disabled" th:value="${name}">
                </li>
                <li>
                    <p id="p-detail">비밀번호</p>
                    <input type="text" id="password" disabled="disabled" th:value="${password}">
                </li>
                <li>
                    <p id="p-detail">휴대전화</p>
                    <input type="text" id="phone" disabled="disabled" th:value="${phone}">
                </li>
                <li>
                    <p id="p-detail">주소</p>
                    <input type="text" id="addr" disabled="disabled" th:value="${addr}">
                </li>
                <li>
                    <button type="button" id="btn-delete-member" th:value="${id}">탈퇴</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- footer -->
<div th:replace="~{/main/footer::footerFragment}"></div>
</body>
</html>