<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unique Games</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="js/cart-script.js"></script>
</head>
<body>
<!-- header -->
<div th:replace="~{/main/header :: headerFragment}"></div>

<!-- content -->
<section id="top-bg">
    <div id="base-layer">
        <div id="top-bg-textarea">
            <p id="top-title">Cart</p>
            <p id="top-subtitle">#장바구니</p>
        </div>
    </div>
</section>
<h1>Cart</h1>
<section id="cart">
    <div th:if="${nothing == false}" id="div-gameList">
        <div id=div-delete>
            <a th:href="@{/cartDeleteAll}">
                <button type="button" id="btn-deleteAll">전체삭제</button>
            </a>
            <button type="button" id="btn-deleteSelected">선택삭제</button>
        </div>
        <div id="div-table">
            <table id="table-gameList">
                <tr>
                    <th><input type="checkbox" id="checkAll" name="checkAll" checked="checked">선택</th>
                    <th></th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>삭제</th>
                </tr>
                <tr th:each="cart : ${cartList}">
                    <td th:id="${cart.amount}">
                        <input type="checkbox" th:id="${cart.id}" name="checkOne" checked="checked"
                               th:value="${cart.id}">
                    </td>
                    <td><a><img th:src="${cart.gameImg}"></a></td>
                    <td>
                        <p><a th:text="${cart.gametitle}"></a></p>
                    </td>
                    <td>
                        <p><a th:text="${cart.amountStr}"></a></p>
                    </td>
                    <td>
                        <a th:href="@{/cartDeleteOne(id=${cart.id})}" id="a-delete">
                            <button type="button" id="btn-deleteOne" th:value="${cart.id}">삭제</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="div-price">
            <table id="cart-price">
                <tr>
                    <th>개수</th>
                    <th>총 금액</th>
                </tr>
                <tr>
                    <td id="count"></td>
                    <td id="totalAmount"></td>
                </tr>
            </table>
        </div>
        <div id="div-button">
            <button type="button" id="btn-cart">주문하기</button>
        </div>
    </div>
    <div th:if="${nothing == true}" id="div-nothing">
        <p id="p-nothing">장바구니가 비어있습니다.</p>
    </div>
    <div th:if="${nothing == true}" id="div-button">
        <a href="/">
            <button type="button" id="btn-main">메인으로</button>
        </a>
    </div>
</section>

<!-- footer -->
<div th:replace="/main/footer::footerFragment"></div>
</body>
</html>
