<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unique Games</title>
  <link rel="stylesheet" th:href="@{css/order.css}">
  <script th:src="@{http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function (){
      initAjax();

      function initAjax() {
        let array = $("#select-order").val();

        $.ajax({
          url : "paymentDetailData",
          data : {
            array : array
          },
          success : function(result){
            let jdata = JSON.parse(result);
            let output = "";

            if(jdata.nothing){
              output += "<div id='div-nothing'>";
              output += "<p id='p-nothing'>결제내역이 없습니다.</p>";
              output += "</div>";
              output += "<div id='div-button'>";
              output += "<a th:href='/'>";
              output += "<button type='button' id='btn-main'>메인으로</button></a>";
              output += "</div>";

              $("#div-nothing").remove();
              $("#div-button").remove();
            }
            else {
              output += '<table id="table-gameList">';
              output += '<tr><th>번호</th><th>날짜</th>';
              output += '<th>상품명</th><th>가격</th>';
              output += '</tr>';

              /*[# th:each="obj : ${jdata.jlist}"]*/
              output += "<tr>";
              output += "<td th:text='${obj.rno}'></td>";
              output += "<td th:text='${obj.orderdate}'></td>";
              output += "<td th:text='${obj.gametitle}'></td>";
              output += "<td th:text='${obj.amount}'></td>";
              output += "</tr>";
              /*[/]*/

              output += '</table>';
              output += '<div id="div-price">';
              output += '<table id="cart-price">';
              output += '<tr><th>개수</th><th>총 금액</th></tr>';
              output += '<tr>';
              output += "<td th:text='|총 ${jdata.count}개|'></td>";
              output += "<td th:text='${jdata.totalAmount}'></td>";
              output += '</tr></table></div>';
              output += '<div id="div-margin">';
            }

            /*[# th:utext="${output}"]*/
            // output 출력
            $("#table-gameList").remove();
            $("#div-price").remove();
            $("#div-select").after(output);
            /*[/]*/
          }
        }); // ajax
      }// initAjax()

      $("#select-order").change(function() {
        initAjax();
      });
    });
  </script>
</head>
<body>
<!-- header -->
<div th:replace="/main/header :: headerFragment"></div>

<!-- content -->
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">Payment Detail</p>
      <p id="top-subtitle">#결제내역</p>
    </div>
  </div>
</section>

<h1>Payment Detail</h1>
<section id="cart">
  <div id="div-gameList">
    <div id="div-select">
      <select id="select-order">
        <option value="orderdate_desc">최근 날짜순</option>
        <option value="orderdate_asc">오래된 날짜순</option>
        <option value="amount_asc">높은 후원금순</option>
        <option value="amount_desc">낮은 후원금순</option>
      </select>
    </div>
  </div>
</section>

<!-- footer -->
<div th:replace="/main/footer :: footerFragment"></div>
</body>
</html>
