<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unique Games</title>
  <link rel="stylesheet" th:href="@{/css/mainunigames.css}">
</head>
<body>
<header th:include="header"></header>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">All List</p>
      <p id="top-subtitle">#전체 게임목록</p>
    </div>
  </div>
</section>
<section id="menu-main2">
  <div id="menu-allList">
    <div id="gameList">
      <div th:each="game : ${gameList}" id="gList">
        <img th:src="${game.image_path}" width="260px" height="180px">
        <ul>
          <li><a th:href="'detail/' + ${game.description}" th:text="${game.name}"></a></li>
          <li th:text="${game.game_genre}"></li>
          <li><button id="btn-like-style" type="button" th:data-game-id="${game.id}"></button></li>
          <li th:text="${game.like_count}"></li>
          <li><img src="/images/img_icon_rPc.png"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer th:include="footer"></footer>
</body>
</html>
