<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unique Games</title>
  <link rel="stylesheet" th:href="@{/css/mainunigames.css}">
</head>
<body>
<header th:include="header"></header>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">Top Game</p>
      <p id="top-subtitle">#게임 순위</p>
    </div>
  </div>
</section>
<section id="menu-main2">
  <div id="menu-allList">
    <div id="gameList">
      <p id="intro-allList">게임 순위</p>
      <div>
        <div>
          <div th:each="ranking, loop: ${ranking}" th:if="${loop.count le 10}" id="tList-detail">
            <img alt="#" th:src="${ranking.image_path}" width="500px" height="240px">
            <div>
              <p th:text="${loop.count}"></p>
              <p id="cyber" th:text="${ranking.name}"></p>
              <p th:text="${ranking.description}"></p>
              <button id="btn-readmore-topGame" type="button">자세히보기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer th:include="footer"></footer>
</body>
</html>
