<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>myPage</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/jquery-3.6.4.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>

    $(document).ready(function(){
      var password = "${company.password}";
      var password = "${company.password}";
      var phone1 = "${company.phone1}";
      var phone2 = "${company.phone2}";
      var phone3 = "${company.phone3}";
      var email1 = "${company.email1}";
      var email2 = "${company.email2}";

      function emailCheck(asValue){
        var regex = /[A-za-z0-9]{4,20}$/;

        return regex.test(asValue);
      }

      function phoneCheck(asValue) {
        var regex = /^\d{3,4}$/;

        return regex.test(asValue);
      }

      $("#button-gradient-company").click(function(){

        if($("input[name='company_class']").val()==""){
          alert("회사 아이디는 필수 입력 항목입니다");
          $("input[name='company_class']").focus();
          return false;
        }else if($("#company-password").val()==""){
          alert("비밀번호는 필수 입력 항목입니다");
          $("#company-password").focus();
          return false;
        }else if($("#company-password").val() != password){
          alert("비밀번호가 일치하지 않습니다");
          $("#company-password").focus();
          return false;
        }else if($("#company-name").val()==""){
          alert("회사명은 필수 입력 항목입니다");
          $("#company-name").focus();
          return false;
        }else if($("#company-email1").val()==""){
          alert("이메일은 필수 입력 항목입니다");
          $("#company-email1").focus();
          return false;
        }else if(!emailCheck($("#company-email1").val())){
          alert("이메일은 영문 또는 숫자로 4자리 이상 입력해주세요");
          $("#company-email1").focus();
          return false;
        }else if($("#company-email2").val()=="" && $("#company-selectbox-email").val()=="choose" || $("#company-email2").val()=="" && $("#company-selectbox-email").val()=="direct"){
          alert("이메일 주소를 전부 작성해주세요");
          $("#company-email2").focus();
          return false;
        }else if($("#c-emailAuth").css("color") === "rgb(255, 0, 0)") {
          alert("이메일 인증번호를 확인해주세요");
          $("#email-auth-check").focus();
          return false;
        }else if($("#company-selectbox-mobile").val()=="choose") {
          alert("통신사를 선택해주세요");
          $("#selectbox-mobile").focus();
          return false;
        }else if($("#company-selectbox-phone").val()=="choose") {
          alert("대표 전화는 필수 입력 항목입니다");
          $("#company-selectbox-phone").focus();
          return false;
        }else if($("#company-phone2").val()=="") {
          alert("대표 전화는 필수 입력 항목입니다");
          $("#company-phone2").focus();
          return false;
        }else if(!phoneCheck($("#company-phone2").val())) {
          alert("대표 전화는 숫자 3,4자리로 입력해주세요");
          $("#company-phone2").focus();
          return false;
        }else if($("#company-phone3").val()=="") {
          alert("대표 전화는 필수 입력 항목입니다");
          $("input[name='phone3']").focus();
          return false;
        }else if(!phoneCheck($("#company-phone3").val())) {
          alert("대표 전화는 숫자 3,4자리로 입력해주세요");
          $("#company-phone3").focus();
          return false;
        }else if($("#c-phoneMsg").text() != ""){
          alert("휴대전화를 확인해주세요");
          $("#selectbox-phone").focus();
          return false;
        }else {
          companyMyPageForm.submit();
        }
      });

      $("#company-selectbox-email").change(function(){

        if($("#company-selectbox-email").val()=="choose") {
          $("#company-email2").val("");
          $("#emailMsg").text("이메일을 선택해주세요").css("color","red").css("font-size","11px").css("display","inline");
          $("#company-selectbox-email").focus();
          return false;
        }else if($("#company-selectbox-email").val()=="direct") {
          $("#company-email2").val("").focus();
        }else {
          $("#company-email2").val($("#company-selectbox-email").val());
        }
      });


      $("#pwd-check-img").change(function(){

        if($("#pwd-check-img").is(":checked") == false) {
          $("input[name='password']").attr("type","password");
        }else if($("#pwd-check-img").is(":checked") == true) {
          $("input[name='password']").attr("type","text");
        }

      });

      $("#pwd-check-img-1").change(function(){

        if($("#pwd-check-img-1").is(":checked") == false) {
          $("input[name='password-check']").attr("type","password");
        }else if($("#pwd-check-img-1").is(":checked") == true) {
          $("input[name='password-check']").attr("type","text");
        }

      });

      $("#link-changePassword").click(function(){

        if($("input[name='password']").val()==""){
          alert("비밀번호를 입력해주세요");
          $("input[name='password']").focus();
          return false;
        }else if($("input[name='password']").val() != password){
          alert("비밀번호가 일치하지 않습니다");
          $("input[name='password']").focus();
          return false;
        }
      });


      $("#company-address-btn-style").click(function(){
        new daum.Postcode({
          oncomplete: function(data) {
            $("#company-addr1").val("("+data.zonecode+") "+data.address);
            $("#company-addr2").focus();
          }
        }).open();
      });


      let code1 = "";
      $("#c-email-btn-style").click(function(){
        const email = $("#company-email1").val() + "@" + $("#company-email2").val();
        //alert(email);

        $.ajax({
          url : "mailCheck",
          type: "POST",
          data: { email : email },

          success : function(data){
            alert("인증번호가 전송되었습니다");
            code1 = data;
            $('#c-email-auth-check').attr('disabled',false);
          }
        });
      });


      $('#c-email-auth-check').on("change",function () {

        const inputCode1 = $(this).val();
        const resultMsg1 = $('#c-emailAuth');

        if(inputCode1 === code1){
          resultMsg1.text('인증번호가 일치합니다.');
          resultMsg1.css("font-size","11px").css('color','blue').css("display","inline");
          $('#c-email-auth-check').attr('disabled',true);
          $('#company-email1').attr('readonly',true);
          $('#company-email2').attr('readonly',true);
          $('#company-selectbox-email').attr('disabled',true);
          $('#company-selectbox-email').attr('onFocus', 'this.initialSelect = this.selectedIndex');
          $('#company-selectbox-email').attr('onChange', 'this.selectedIndex = this.initialSelect');
        }else{
          resultMsg1.text('인증번호가 불일치 합니다. 다시 확인해주세요!.');
          resultMsg1.css("font-size","11px").css('color','rgb(255, 0, 0)').css("display","inline");
        }

      });

      $("#company-email1, #company-email2, #company-selectbox-email").change(function() {
        if($("#c-email-auth-check").val() == ""){
          $("#c-emailAuth").css("font-size","11px").css('color','rgb(255, 0, 0)').css("display","inline").text('이메일 인증을 완료해주세요');
        }else {
          $("#c-emailAuth").css('color','rgb(0, 0, 255)').css("display","none");
        }
      });

      $("#company-email1, #company-email2, #company-selectbox-email").blur(function(){

        if($("#company-email1").val() == "" || $("#company-email2").val() == "") {
          $("#c-emailMsg").text("필수항목입니다").css("color","red").css("font-size","11px").css("display","inline");
          return false;
        }else {
          $.ajax({
            url : "c_email_check",
            type: "POST",
            data: {
              email1 : $("#company-email1").val(),
              email2 : $("#company-email2").val()
            },

            success : function(result) {
              if(result==1) {
                if($("#company-email1").val()==email1 && $("#company-email2").val()==email2) {
                  $("#c-emailMsg").css("display","none");
                  $("#c-emailAuth").css('color','rgb(0, 0, 255)').css("display","none");
                  return false;
                }
                $("#c-emailMsg").text("중복된 이메일입니다").css("color","red").css("font-size","11px").css("display","inline");
                return false;
              }else {
                $("#c-emailMsg").text("").css("display","none");
              }
            }
          });
        }

      });

      $("#company-selectbox-mobile, #company-selectbox-phone, input[name='phone2'], input[name='phone3']").blur(function() {
        if ($("#company-selectbox-mobile").val() == "default" || $("#company-selectbox-phone").val() == "default" || $("input[name='phone2']").val() == "" || $("input[name='phone3']").val() == "") {
          $("#phoneMsg").text("필수항목입니다").css("color","red").css("font-size","11px").css("display","inline");
        }else {
          $.ajax({
            url : "c_phone_check",
            type: "POST",
            data: {
              phone1 : $("#company-selectbox-phone").val(),
              phone2 : $("input[name='phone2']").val(),
              phone3 : $("input[name='phone3']").val()
            },

            success : function(result) {
              if(result==1) {
                if($("#company-selectbox-phone").val()==phone1 && $("input[name='phone2']").val()==phone2 && $("input[name='phone3']").val()==phone3){
                  $("#c-phoneMsg").text("").css("display","none");
                  return false;
                }
                $("#c-phoneMsg").text("이미 등록된 휴대전화입니다").css("color","red").css("font-size","11px").css("display","inline");
                return false;
              }else {
                $("#c-phoneMsg").text("").css("display","none");
              }
            }
          });
        }
      });


    });

  </script>
</head>
<body>
<header>
  <div th:replace="../main/header :: header"></div>
</header>
<section class="top-bg">
  <div class="base-layer">
    <div class="top-bg-textarea">
      <p class="top-title">My Page</p>
      <p class="top-subtitle">#마이페이지</p>
    </div>
  </div>
</section>
<section class="content-1">
  <p class="intro">마이페이지</p>
  <form action="companyMyPage_proc" name="companyMyPageForm" method="post" id="content-myPage">
    <div>
      <ul>
        <li class="must-insert">
          <p class="label-dot">*</p>
          <label>회사 아이디</label>
        </li>
        <li>
          <input type="text" name="companyId" th:value="${company.companyId}" th:disabled="true">
          <input type="hidden" name="companyId" th:value="${company.companyId}">
        </li>
        <li>
          <label>게임명</label>
        </li>
        <li>
          <input type="text" name="game" th:value="${company.game}" disabled>
        </li>
        <li class="must-insert">
          <p class="label-dot">*</p>
          <label>비밀번호</label><span class="c-pwdMsg"></span>
        </li>
        <li>
          <input type="password" class="company-password" name="password">
          <input type="checkbox" class="pwd-check-img">
        </li>
        <li>
          <a th:href="@{/CompanyPageChangePassword(companyId=${company.companyId})}" class="link-changePassword">
            <span>비밀번호 변경 ></span>
          </a>
        </li>
        <li class="must-insert">
          <p class="label-dot">*</p>
          <label>회사명</label>
        </li>
        <li>
          <input type="text" name="name" th:value="${company.name}">
        </li>
        <li class="must-insert">
          <p class="label-dot">*</p>
          <label>회사 이메일</label>
          <span class="c-emailMsg"></span>
          <span class="c-emailAuth"></span>
        </li>
        <li>
          <input type="text" name="email1" th:value="${company.email1}">
          @
          <input type="text" name="email2" th:value="${company.email2}">
          <select class="company-selectbox-email" name="email3">
            <option value="choose">선택</option>
            <option value="naver.com" th:selected="${company.email3 == 'naver.com'}">naver.com</option>
            <option value="gmail.com" th:selected="${company.email3 == 'gmail.com'}">gmail.com</option>
            <option value="daum.net" th:selected="${company.email3 == 'daum.net'}">daum.net</option>
            <option value="direct">직접입력</option>
          </select>
          <button type="button" id="c-email-btn-style">인증 번호</button>
          <input type="text" name="email-auth-check" id="c-email-auth-check" placeholder="인증번호 6자리" disabled="disabled">
        </li>
        <li>
          <label>주소</label>
        </li>
        <li>
          <input type="text" name="addr1" th:value="${company.addr1}">
          <button type="button" id="company-address-btn-style">주소 검색</button>
        </li>
        <li class="address-input">
          <label>상세 주소</label>
        </li>
        <li>
          <input type="text" name="addr2" th:value="${company.addr2}">
        </li>
        <li class="must-insert">
          <p class="label-dot">*</p>
          <label>대표전화</label><span class="c-phoneMsg"></span>
        </li>
        <li>
          <select name="tel" class="company-selectbox-mobile">
            <option value="choose">선택</option>
            <option value="SKT" th:selected="${company.tel == 'SKT'}">SKT</option>
            <option value="KT" th:selected="${company.tel == 'KT'}">KT</option>
            <option value="LGU+" th:selected="${company.tel == 'LGU+'}">LGU+</option>
            <option value="MVNO" th:selected="${company.tel == 'MVNO'}">알뜰폰</option>
          </select>
          <select name="phone1" class="company-selectbox-phone">
            <option value="choose">선택</option>
            <option value="010" th:selected="${company.phone1 == '010'}">010</option>
            <option value="011" th:selected="${company.phone1 == '011'}">011</option>
            <option value="012" th:selected="${company.phone1 == '012'}">012</option>
          </select>
          -
          <input type="text" name="phone2" th:value="${company.phone2}">
          -
          <input type="text" name="phone3" th:value="${company.phone3}">
        </li>
        <li>
          <button type="button" id="button-gradient-company">수정하기</button>
        </li>
        <li>
          <a href="donation_detail" class="link-donation">
            <span>후원금 정산 내역 ></span>
          </a>
          <a th:href="@{/deletePwd(companyId=${company.companyId})}" class="link-deleteAccount">
            <span>회원탈퇴 ></span>
          </a>
        </li>
      </ul>
    </div>
  </form>
</section>

<div th:replace="../main/footer :: footer"></div>

</body>
</html>
