<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>myPage</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/login_script.js}"></script>
  <script th:src="@{/js/profileUpload.js}"></script>
  <script th:src="@{/js/duplicate.js}"></script>
  <script th:src="@{/js/mypage1.js}"></script>
  <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
</head>
<body>
<header th:include="main/header"></header>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">My Page</p>
      <p id="top-subtitle">#마이페이지</p>
    </div>
  </div>
</section>
<section class="content-mypage">
  <form action="companyupdate" name="myPageForm" method="post" enctype="multipart/form-data">
    <div class="sidebar">
      <ul>
        <li th:if="${company?.profileImg == null} or ${company?.profileImg == ''}" class="mypage-profile">
          <img src="/images/mypage-profile.png" class="profile-picture" id="test2">
        </li>
        <li th:unless="${company?.profileImg == null} or ${company?.profileImg == ''}">
          <img th:src="@{/upload/{b}(b=${company?.profileImg})}" class="profile-picture-1">
        </li>
        <li class="mypage-profile-setting">
          <label for="profile-picture-img">
            <img src="/images/mypage-profile-setting.png" style="cursor: pointer;" class="profile-setting-mypage">
          </label>
          <input type="file" name="file" id="profile-picture-img" style="display: none;">
        </li>
        <li>
          <nav class="cancelProfile" th:if="${company?.profileImg == null} or ${company?.profileImg == ''}"></nav>
          <nav class="cancelProfile" th:unless="${company?.profileImg == null} or ${company?.profileImg == ''}">
            <button type='button' class='cancelProfileButton' name='cancelProfileButton' onclick="buttonFunction();">기본값</button>
          </nav>
        </li>
        <li class="mypage-info" th:text="${company?.name}"></li>
        <li class="mypage-info" id="mypage-id" th:text="${company?.companyId}"></li>
        <li class="mUpdate" id="active"><a th:href="@{/mypage}">개인 정보</a></li>
        <li class="mUpdate1"><a th:href="@{/newpass}">비밀번호 재설정</a> </li>
        <li class="mUpdate1"><a th:href="@{/mypagedonation}">후원금 정산내역</a></li>
        <li class="mUpdate1"><a th:href="@{/deleteaccount}">회원탈퇴</a></li>
      </ul>
    </div>
    <p class="intro-4">법인정보 수정</p>
    <input type="hidden" name="type" th:value="mypage">
    <input type="hidden" name="type2" th:value="company">
    <input type="hidden" name="companyId" th:value="${company?.companyId}">
    <input type="hidden" name="profileImg" th:value="${company?.profileImg}">
    <input type="hidden" name="newProfileImg">
    <input type='hidden' name="deleteImg">
    <div class="div-update">
      <ul>
        <li class="mypage-insert">
          <label>게임명</label>
        </li>
        <li class="mypage-insert">
          <input type="text" name="game" th:value="${company?.game}" th:disabled="true">
        </li>
        <li class="mypage-insert">
          <label>이메일</label>
          <span id="emailMsg" class="messageStyle1"></span>
          <span id="emailAuth" class="messageStyle1"></span>
        </li>
        <li class="mypage-insert">
          <input type="text" name="email" th:value="${company?.email}">
          <input type="hidden" th:value="${company?.email}" id="companyEmail">
        </li>
        <li>
          <button type="button" class="button-style" id="mypage-email-btn" onclick="sendEmail()">인증 번호</button>
        </li>
        <li class="mypage-insert">
          <input type="text" name="email-auth-check" id="email-auth-check" placeholder="인증번호 6자리" th:disabled="true">
        </li>
        <li class="mypage-insert">
          <label>휴대전화</label><span id="phoneMsg" class="messageStyle"></span>
        </li>
        <li class="mypage-insert">
          <select class="tel" name="tel" tabindex="11">
            <option value="" th:selected="${company.tel == ''}">선택</option>
            <option value="SKT" th:selected="${company.tel == 'SKT'}">SKT</option>
            <option value="KT" th:selected="${company.tel == 'KT'}">KT</option>
            <option value="LGU+" th:selected="${company.tel == 'LGU+'}">LGU+</option>
            <option value="MVNO" th:selected="${company.tel == 'MVNO'}">알뜰폰</option>
          </select>
          <input type="hidden" th:value="${company?.tel}" id="companyTel">
          <input type="text" name="phoneNum" th:value="${company?.phoneNum}" placeholder="-제외하고 입력하세요"  class="phoneNumInput">
          <input type="hidden" th:value="${company?.phoneNum}" id="companyPhoneNum">
        </li>
        <li class="mypage-insert">
          <label>주소</label>
        </li>
        <li th:if="${company?.addr1 == null}" class="mypage-insert">
          <input type="text" name="addr1" th:value="">
        </li>
        <li th:unless="${company?.addr1 == null}" class="mypage-insert">
          <input type="text" name="addr1" th:value="${company?.addr1}">
          <input type="hidden" th:value="${company?.addr1}" id="companyAddr1">
        </li>
        <li>
          <button type="button" class="button-style" id="mypage-addr-btn" onclick="findAddress()">주소 검색</button>
        </li>
        <li class="mypage-insert-1">
          <label>상세 주소</label>
        </li>
        <li th:if="${company?.addr2 == null}" class="mypage-insert">
          <input type="text" name="addr2" th:value="">
        </li>
        <li th:unless="${company?.addr2 == null}" class="mypage-insert">
          <input type="text" name="addr2" th:value="${company?.addr2}">
          <input type="hidden" th:value="${company?.addr2}" id="companyAddr2">
        </li>
        <li class="mypage-insert">
          <button type="button" class="button-gradient" id="mypage-update" th:disabled="true">수정 완료</button>
        </li>
      </ul>
    </div>
  </form>
</section>
<footer th:include="main/footer"></footer>
</body>
</html>
