<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>myPage</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/join_jquery.js}"></script>
  <script th:src="@{/js/login_script.js}"></script>
  <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
  <script th:inline="javascript">
    //JavaScript 코드
    /*<![CDATA[*/

    $(document).ready(function() {

      const mypageEmail = [[${member.email}]];
      const mypagePhoneNum = [[${member.phoneNum}]];
      const mypageAddr1 = [[${member.addr1}]];
      const mypageAddr2 = [[${member.addr2}]];

      $("input[name='email'], input[name='phoneNum'], input[name='addr1'], input[name='addr2']").keyup(function(){

        if($("input[name='email']").val() == mypageEmail && $("input[name='phoneNum']").val() == mypagePhoneNum
        && $("input[name='addr1']").val() == mypageAddr1 && $("input[name='addr2']").val() == mypageAddr2) {
          $("#mypage-update").prop("disabled", "true");
        } else {
          $("#mypage-update").removeAttr("disabled");
        }

      });

    });
 /*]]>*/
  </script>
  <style>
    .mypage-addr {
      margin-right: 360px;
    }
  </style>
</head>
<body>
<header th:include="main/header"></header>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">My Page</p>
      <p id="top-subtitle">#마이페이지</p>
    </div>
  </div>
</section>
<section class="content-mypage">
  <div class="sidebar">
    <ul>
      <li class="mypage-profile">
        <img src="/images/mypage-profile.png" class="profile-picture">
      </li>
      <li class="mypage-info" th:text="${member?.name}"></li>
      <li class="mypage-info" id="mypage-id" th:text="${member?.memberId}"></li>
      <li class="mUpdate" id="active"><a th:href="@{/mypage}">개인 정보</a></li>
      <li class="mUpdate1"><a th:href="@{/newpass}">비밀번호 재설정</a> </li>
      <li class="mUpdate1"><a href="member-order">결제 내역</a></li>
      <li class="mUpdate1"><a th:href="@{/deleteaccount}">회원탈퇴</a></li>
    </ul>
  </div>
  <form action="memberupdate" name="myPageForm" method="post" class="deleteForm">
    <p class="intro-4">개인정보 수정</p>
    <input type="hidden" name="memberId" th:value="${member?.memberId}">
    <div class="div-update">
      <ul>
        <li class="mypage-insert">
          <label>이메일
          <span id="emailAuth"></span>
          </label>
        </li>
        <li>
          <input type="text" class="mypage-input" name="email" th:value="${member?.email}">
        </li>
        <li>
          <button type="button" class="button-style" id="mypage-email-btn" onclick="sendEmail()">인증 번호</button>
        </li>
        <li>
          <input type="text" class="mypage-input" name="email-auth-check" id="email-auth-check" placeholder="인증번호 6자리" disabled="disabled">
        </li>
        <li class="mypage-insert">
          <label>휴대전화</label>
        </li>
        <li>
          <input type="text" class="mypage-input" name="phoneNum" th:value="${member?.phoneNum}" placeholder="-제외하고 입력하세요">
        </li>
        <li>
          <label class="mypage-addr">주소</label>
        </li>
        <li th:if="${member.addr1} == null">
          <input type="text" name="addr1" class="mypage-input" th:value="">
        </li>
        <li th:unless="${member.addr1} == null">
          <input type="text" name="addr1" class="mypage-input" th:value="${member.addr1}">
        </li>
        <li>
          <button type="button" class="button-style" id="mypage-addr-btn">주소 검색</button>
        </li>
        <li class="mypage-insert-1">
          <label>상세 주소</label>
        </li>
        <li th:if="${member.addr2} == null">
          <input type="text" name="addr2" th:value="">
        </li>
        <li th:unless="${member.addr2} == null">
          <input type="text" name="addr2" th:value="${member.addr2}">
        </li>
        <li>
          <button type="button" class="button-gradient" id="mypage-update" th:disabled="true">수정 완료</button>
        </li>
      </ul>
    </div>
  </form>
</section>
<footer th:include="main/footer"></footer>
</body>
</html>