<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>myPage</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/join_jquery.js}"></script>
  <script th:src="@{/js/login_script.js}"></script>
  <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
  <script th:inline="javascript">
    //JavaScript 코드
    /*<![CDATA[*/

    /*]]>*/
  </script>
  <style>
    .mypage-addr {
      margin-right: 360px;
    }
  </style>
</head>
<body>
<header th:include="main/header"></header>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">My Page</p>
      <p id="top-subtitle">#마이페이지</p>
    </div>
  </div>
</section>
<section class="content-mypage">
  <div class="sidebar">
    <ul>
      <li class="mypage-profile">
        <img src="/images/mypage-profile.png" class="profile-picture">
      </li>
      <li class="mypage-info" th:text="${member?.name}"></li>
      <li class="mypage-info" id="mypage-id" th:text="${member?.memberId}"></li>
      <li class="mUpdate" id="active"><a th:href="@{/mypage}">개인 정보</a></li>
      <li class="mUpdate1"><a th:href="@{/mnewpass}">비밀번호 재설정</a> </li>
      <li class="mUpdate1"><a href="member-order">결제 내역</a></li>
      <li class="mUpdate1"><a th:href="@{/deleteaccount}">회원탈퇴</a></li>
    </ul>
  </div>
  <form action="memberupdate" name="myPageForm" method="post" class="deleteForm" th:checked="true">
    <p class="intro-4">개인정보 수정</p>
    <input type="hidden" name="memberId" th:value="${member?.memberId}">
    <div class="div-update">
      <ul>
        <li>
          <p class="label-dot">*</p>
          <label class="mypage-insert">이메일</label><span id="emailMsg"></span>
        </li>
        <li>
          <input type="text" name="email" th:value="${member?.email}">
        </li>
        <li>
          <button type="button" class="button-style" id="mypage-email-btn">인증 번호</button>
        </li>
        <li>
          <input type="text" name="email-auth-check" id="email-auth-check" placeholder="인증번호 6자리" disabled="disabled">
        </li>
        <li>
          <label class="mypage-insert">휴대전화</label><span id="phoneMsg"></span>
        </li>
        <li>
          <input type="text" name="phoneNum" th:value="${member?.phoneNum}" placeholder="-제외하고 입력하세요">
        </li>
        <li>
          <label class="mypage-addr">주소</label>
        </li>
<!--        <li th:if="">-->
<!--          <input type="text" name="addr1" th:value="${member?.addr1}" tabindex="8">-->
<!--        </li>-->
        <li>
          <button type="button" class="button-style" id="mypage-addr-btn" tabindex="9">주소 검색</button>
        </li>
        <li class="mypage-insert-1">
          <label>상세 주소</label>
        </li>
        <li>
          <input type="text" id="input-common" name="addr2" tabindex="10">
        </li>

        <li>
          <button type="button" class="button-gradient" id="mypage-update">수정 완료</button>
        </li>
      </ul>
    </div>
  </form>
</section>
<footer th:include="main/footer"></footer>
</body>
</html>