<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>myPage</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/join_jquery.js}"></script>
  <script th:src="@{/js/login_script.js}"></script>
  <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
  <script th:inline="javascript">
    //JavaScript 코드
    /*<![CDATA[*/

    /*]]>*/
  </script>
</head>
<body>
<header th:include="main/header"></header>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">My Page</p>
      <p id="top-subtitle">#마이페이지</p>
    </div>
  </div>
</section>
<section class="content-mypage">
  <div class="sidebar">
    <ul>
      <li class="mypage-profile">
        <img src="/images/mypage-profile.png" class="profile-picture">
      </li>
      <li class="mypage-info" th:text="${member.name}"></li>
      <li class="mypage-info" id="mypage-id" th:text="${member.memberId}"></li>
      <li class="mUpdate"><a th:href="@{/mypage}">개인 정보</a></li>
      <li class="mUpdate"><a href="member-order">결제 내역</a></li>
      <li class="mUpdate"><a th:href="@{/deleteAccount}">회원탈퇴</a></li>
    </ul>
  </div>
  <div class="memberChangeTab">
  <p class="intro-4">개인정보 수정</p>
  <form action="memberupdate" name="myPageForm" method="post" id="content-myPage" th:checked="true">
    <input type="hidden" name="memberId" th:value="${member.memberId}">
    <div>
      <ul>
        <li class="must-insert-5">
          <p class="label-dot">*</p>
          <label>이메일</label><span id="emailMsg"></span>
        </li>
        <li>
          <input type="text" name="email" th:value="${member.email}" class="mypage-input">
          <button type="button" id="mypage-email-btn">인증 번호</button>
        </li>
        <li class="must-insert-5" id="mypage-phoneNum">
          <p class="label-dot">*</p>
          <label>휴대전화</label><span id="phoneMsg"></span>
        </li>
        <li>
          <input type="text" name="phoneNum" class="mypage-input" th:value="${member.phoneNum}" placeholder="-제외하고 입력하세요">
        </li>
        <li class="must-insert-5">
          <p class="label-dot">*</p>
          <label>비밀번호</label><span id="nameMsg"></span>
        </li>
        <li>
          <input type="password" name="password" class="mypage-input" placeholder="현재 비밀번호">
          <input type="checkbox" class="mypage-pwd-check-img" id="pwd-check-img" onclick="memberPassVisible()">
          <input type="password" name="newPassword" class="mypage-input" id="newpassInput" placeholder="새로운 비밀번호">
          <input type="checkbox" class="mypage-pwd-check-img">
          <input type="password" name="newPasswordCheck" class="mypage-input" id="newpassInputCheck" placeholder="새로운 비밀번호 재입력">
          <input type="checkbox" class="mypage-pwd-check-img" id="pwd-check-img-1" onclick="memberPassCheckVisible()">
        </li>
        <li>
          <button type="button" id="mypage-pass-change">재설정</button>
        </li>
        <li>
          <button type="button" class="button-gradient" id="mypage-update">수정 완료</button>
        </li>
      </ul>
    </div>
  </form>
  </div>
</section>
<footer th:include="main/footer"></footer>
</body>
</html>