<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unique Games</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/am-pagination.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/am-pagination.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            getPagination([[${pageCount}]], [[${dbCount}]], [[${page}]], [[${pageSize}]]);
        });
    </script>
    <script th:inline="javascript" th:if="${result}">
        /*<![CDATA[*/
        let result = [[${result}]]
        getResult(result)
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="~{main/header :: headerFragment}"></div>
<section id="top-bg">
    <div id="base-layer">
        <div id="top-bg-textarea">
            <p id="top-title">Notice</p>
            <p id="top-subtitle">#공지사항</p>
        </div>
    </div>
</section>
<div class="content" th:with="loginMember = ${session.get('loginMember')}">
    <div class="board-list">
        <div class="board-top-menu"
             th:with="companyLogin = ${loginMember != null and #strings.contains(loginMember,'Company')}">
            <p>Notice</p>
            <div th:class="${companyLogin == true ? '' : 'bsearch-box'}">
                <form name='boardSearch' action='/notice/list/search' method='get'>
                    <select name="searchType">
                        <option value="tnc">제목+내용</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="name">작성자</option>
                    </select>
                    <label>
                        <input type='text' name='q' placeholder='검색어를 입력해주세요.'>
                        <button type='button' th:id='btn-search'>
                            <img src='/images/btn-boardSearch-press.png'>
                        </button>
                    </label>
                </form>
                <ul th:if="${companyLogin == true}">
                    <li>
                        <button type='button' class='btn-style' name='listWrite'>작성</button>
                    </li>
                    <li>
                        <button type='button' class='btn-style' name='listUpdate'>수정</button>
                    </li>
                    <li>
                        <button type='button' class='btn-style' name='listDelete'>삭제</button>
                    </li>
                    <li>
                        <button type='button' class='btn-style' name='listDeleteAll'>전체삭제</button>
                    </li>
                </ul>
                <th:block th:unless="${companyLogin == true}">
                    <ul>
                        <li>
                            <button type='button' class='btn-style' name='getList'>목록</button>
                        </li>
                    </ul>
                    <div id='clearFix'></div>
                </th:block>
            </div>
        </div>
        <th:block th:with="companyLogin = ${loginMember != null and #strings.contains(loginMember,'Company')}">
            <div>
                <form th:attr="name=${companyLogin == true ? 'boardManage' : ''}, action=${companyLogin == true ? 'board-manage' : ''}, method=${companyLogin == true ? 'post' : ''}">
                    <table th:class="${companyLogin == true ? 'admin-btable' : 'user-btable'}">
                        <tr>
                            <th th:if="${companyLogin == true}">선택</th>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                        <th:block th:unless="${#lists.isEmpty(list)}">
                            <tr th:each="notice : ${list}">
                                <td th:if="${companyLogin == true}"><input type="checkbox" name="list"
                                                                           th:value="${notice.postId}"/></td>
                                <td><span th:text="${notice.rno}"/></td>
                                <td><a th:href="@{/notice/content/{no}(no = ${notice.postId})}"
                                       th:text="${notice.title}"/><span
                                        th:if="${notice.cmtCount > 0}" th:text=" ' [' + ${notice.cmtCount} + ']'"/></td>
                                </td>
                                <td><span th:text="${notice.name}"/></td>
                                <td><span th:text="${notice.dateOutput}"/></td>
                            </tr>
                        </th:block>
                        <tr th:if="${#lists.isEmpty(list)}">
                            <td th:colspan="${companyLogin == true ? 5 : 4}" style="padding: 50px 0">등록된 게시글이 없습니다.</td>
                        </tr>
                        <tr>
                            <td th:colspan="${companyLogin == true ? 5 : 4}">
                                <div th:id="ampaginationsm"></div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </th:block>
    </div>
</div>
<div th:replace="~{main/footer :: footerFragment}"></div>
</body>
</html>