<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unique Games</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/am-pagination.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
    <script src="/js/board.js"></script>
    <script src="/js/am-pagination.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            getPagination();

        });

        function getPagination() {
            var pager = jQuery('#ampaginationsm').pagination({
                maxSize : [[${pageCount}]],              // max page size
                totals  : [[${dbCount}]],      // total pages
                page    : [[${page}]],        // initial page
                pageSize: [[${pageSize}]],          // max number items per page

                // custom labels
                lastText : '&raquo;&raquo;',
                firstText: '&laquo;&laquo;',
                prevText : '&laquo;',
                nextText : '&raquo;',

                btnSize: 'lg'    // 'sm'  or 'lg'
            });

            jQuery('#ampaginationsm').on('am.pagination.change', function (e) {
                jQuery('.showlabelsm').text('The selected page no: ' + e.page);
                $(location).attr('href', "/notice_list?page=" + e.page);
            });
        }

    </script>
</head>

<body>
<div th:replace="~{main/header :: headerFragment}"></div>
<section id="top-bg">
    <div id="base-layer">
        <div id="top-bg-textarea">
            <p id="top-title">Notice</p>
            <p id="top-subtitle">#공지사항</p>
        </div>
    </div>
</section>
<div class="content" th:with="loginMember = ${session.get('loginMember')}">
    <div class="board-list">
        <div class="board-top-menu" th:if="${loginMember != null and #strings.contains(loginMember,'Company')}">
            <p>Notice</p>
            <div>
                <form name='boardSearch' action='notice_Search' method='get'>
                    <label>
                        <input type='text' name='keyword' placeholder='검색어를 입력해주세요.'>
                        <button type='button' class='btn-search'>
                            <img src='/images/btn_boardSearch_press.png'>
                        </button>
                    </label>
                </form>
                <ul>
                    <li>
                        <button type='button' class='btn-style' name='listWrite'>작성</button>
                    </li>
                    <li>
                        <button type='button' class='btn-style' name='listUpdate'>수정</button>
                    </li>
                    <li>
                        <button type='button' class='btn-style' name='listDelete'>삭제</button>
                    </li>
                    <li>
                        <button type='button' class='btn-style' name='listDeleteAll'>전체삭제</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="board-top-menu" th:unless="${loginMember != null and #strings.contains(loginMember,'Company')}">
            <p>Notice</p>
            <div class='bsearch-box'>
                <form name='boardSearch' action='notice_Search' method='get'>
                    <label>
                        <input type='text' name='keyword' placeholder='검색어를 입력해주세요.'>
                        <button type='button' class='btn-search'>
                            <img src='/images/btn-boardSearch-press.png'>
                        </button>
                    </label>
                </form>
                <ul>
                    <li>
                        <button type='button' class='btn-style' name='getList'>목록</button>
                    </li>
                </ul>
            </div>
            <div id='clearFix'></div>
        </div>
        <div th:if="${loginMember != null and #strings.contains(loginMember,'Company')}">
            <form name="boardManage" action="board_manage" method="post">
                <table class="admin-btable">
                    <tr>
                        <th>선택</th>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                    <th:block th:unless="${#lists.isEmpty(list)}">
                        <tr th:each="notice : ${list}">
                            <td><input type="checkbox" name="list" th:value="${notice.postId}"></td>
                            <td><span th:text="${notice.rno}"/></td>
                            <td><a th:href="@{content/{no}(no = ${notice.postId})}" th:text="${notice.title}"/><span
                                    th:if="${notice.cmtCount > 0}" th:text=" '[' + ${notice.cmtCount} + ']'"/></td>
                            </td>
                            <td><span th:text="${notice.name}"/></td>
                            <td><span th:text="${notice.dateOutput}"/></td>
                        </tr>
                    </th:block>
                    <tr th:if="${#lists.isEmpty(list)}">
                        <td colspan="5" style="padding: 50px 0">등록된 게시글이 없습니다.</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div id="ampaginationsm"></div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div th:unless="${loginMember != null and #strings.contains(loginMember,'Company')}">
            <table class="user-btable">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
                <th:block th:unless="${#lists.isEmpty(list)}">
                    <tr th:each="notice : ${list}">
                        <td><span th:text="${notice.rno}"/></td>
                        <td><a th:href="@{content/{no}(no = ${notice.postId})}" th:text="${notice.title}"/><span
                                th:if="${notice.cmtCount > 0}" th:text=" '[' + ${notice.cmtCount} + ']'"/></td>
                        <td><span th:text="${notice.name}"/></td>
                        <td><span th:text="${notice.dateOutput}"/></td>
                    </tr>
                </th:block>
                <tr th:if="${#lists.isEmpty(list)}">
                    <td colspan="4" style="padding: 50px 0">등록된 게시글이 없습니다.</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div id="ampaginationsm"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{main/footer :: footerFragment}"></div>
</body>
</html>
