<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unique Games</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/board.css">
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <script src="/js/board.js"></script>
</head>

<body>
<div th:replace="~{main/header :: headerFragment}"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">Notice</p>
      <p id="top-subtitle">#공지사항</p>
    </div>
  </div>
</section>
<div class="content">
  <div class="board-write">
    <div class="board-top-menu">
      <p>Notice</p>
      <div>
        <ul>
          <li><button type="button" class="btn-style" name="write">저장</button></li>
          <li><button type="button" class="btn-style" name="cancel">취소</button></li>
        </ul>
      </div>
      <div id="clearFix"></div>
    </div>
    <form name="writeForm" action="notice_write_proc" method="post" enctype="multipart/form-data">
      <table>
        <tr>
          <th>제목</th>
          <td><input type="text" name="title" class="default-write"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td><textarea name="content" cols="30" rows="5" class="default-write"></textarea></td>
        </tr>
        <tr>
          <th>이미지</th>
          <td>
            <div class="filebox">
              <input id="upload-name" value="" placeholder="첨부파일" disabled>
              <button type="button" class="btn-style" name="file">파일 찾기</button>
              <input type="file" name="file" id="upload-hidden" accept="image/*">
              <nav id="fileDelbtn"></nav>
              <span>*이미지는 하나만 선택할 수 있으며, 본문 위에 삽입됩니다.</span>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
<div th:replace="~{main/footer::footerFragment}"></div>
</body>
</html>
