<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unique Games</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/board.css">
  <link rel="stylesheet" href="/css/am-pagination.css">
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <script src="/js/board.js"></script>
  <script src="/js/am-pagination.js"></script>
  <script th:inline="javascript">
    $(document).ready(function(){
      getPagination();
      // diffPage([[${loginMember}]]);

      $('button[name="getList"]').on("click", function() {
        location.href = "notice_list";
      })
    });

    function getPagination() {
      var pager = jQuery('#ampaginationsm').pagination({
        maxSize: [[${pageCount}]],              // max page size
        totals: [[${dbCount}]],      // total pages
        page: [[${page}]],        // initial page
        pageSize: [[${pageSize}]],          // max number items per page

        // custom labels
        lastText: '&raquo;&raquo;',
        firstText: '&laquo;&laquo;',
        prevText: '&laquo;',
        nextText: '&raquo;',

        btnSize:'lg'    // 'sm'  or 'lg'
      });

      jQuery('#ampaginationsm').on('am.pagination.change',function(e){
        jQuery('.showlabelsm').text('The selected page no: '+e.page);
        $(location).attr('href', "/notice_list?page="+e.page);
      });
    }
  </script>
  <th:block th:if="${result != null}">
    <script th:inline="javascript">
      var result = /*[[${result}]]*/ null;
      writeSuccess(result);
    </script>
  </th:block>
</head>

<body>
<div th:include="../main/header::headerFragment"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">Notice</p>
      <p id="top-subtitle">#공지사항</p>
    </div>
  </div>
</section>
<div id="content">
  <div id="board-list">
    <div id="board-top-menu">
      <div th:if="${loginMember instanceof T(fn:contains(loginMember, 'CompanyVo'))}">
        <p>Notice</p>
        <div>
          <form name='boardSearch' action='notice_Search' method='get'>
            <label>
              <input type='text' name='keyword' placeholder='검색어를 입력해주세요.'>
              <button type='button' class='btn-search'>
                <img src='/images/btn_boardSearch_press.png'>
              </button>
            </label>
          </form>
          <ul>
            <li><button type='button' class='btn-style' name='listWrite'>작성</button></li>
            <li><button type='button' class='btn-style' name='listUpdate'>수정</button></li>
            <li><button type='button' class='btn-style' name='listDelete'>삭제</button></li>
            <li><button type='button' class='btn-style' name='listDeleteAll'>전체삭제</button></li>
          </ul>
        </div>
      </div>
      <div th:unless="${loginMember instanceof T(fn:contains(loginMember, 'CompanyVo'))}">
        <p>Notice</p>
        <div id='bsearch-box'>
          <form name='boardSearch' action='notice_Search' method='get'>
            <label>
              <input type='text' name='keyword' placeholder='검색어를 입력해주세요.'>
              <button type='button' class='btn-search'>
                <img src='/images/btn_boardSearch_press.png'>
              </button>
            </label>
          </form>
          <ul>
            <li><button type='button' class='btn-style' name='getList'>목록</button></li>
          </ul>
        </div>
        <div id='clearFix'></div>
      </div>
    </div>
    <div th:if="${loginMember instanceof T(fn:contains(loginMember, 'CompanyVo'))}">
      <form name="boardManage" action="board_manage" method="post">
        <table id="admin-btable">
          <tr>
            <th>선택</th>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
          </tr>
          <th:block th:if="${not empty list}">
            <tr th:each="notice : ${list}">
              <td><input type="checkbox" name="list" th:value="${notice.post_id}"></td>
              <td><span th:text="${notice.rno}"></span></td>
              <td><a href="notice_content?no=${notice.post_id}" th:text="${notice.title}"></a><span th:if="${notice.cmtCount > 0}" th:text=" '[' + ${notice.cmtCount} + ']'"></span></td>
              <td><span th:text="${notice.name}"></span></td>
              <td><span th:text="${notice.date_output}"></span></td>
            </tr>
          </th:block>
          <th:block th:if="${empty list}">
            <tr>
              <td colspan="5" style="padding: 50px 0">등록된 게시글이 없습니다.</td>
            </tr>
          </th:block>
          <tr>
            <td colspan="5"><div id="ampaginationsm"></div></td>
          </tr>
        </table>
      </form>
    </div>
    <div th:unless="${loginMember instanceof T(fn:contains(loginMember, 'CompanyVo'))}">
      <table id="user-btable">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
        <th:block th:if="${not empty list}">
          <tr th:each="notice : ${list}">
            <td><span th:text="${notice.rno}"></span></td>
            <td><a href="notice_content?no=${notice.post_id}" th:text="${notice.title}"></a><span th:if="${notice.cmtCount > 0}" th:text=" '[' + ${notice.cmtCount} + ']'"></span></td>
            <td><span th:text="${notice.name}"></span></td>
            <td><span th:text="${notice.date_output}"></span></td>
          </tr>
        </th:block>
        <th:block th:if="${empty list}">
          <tr>
            <td colspan="4" style="padding: 50px 0">등록된 게시글이 없습니다.</td>
          </tr>
        </th:block>
        <tr>
          <td colspan="5"><div id="ampaginationsm"></div></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div th:replace="../main/footer::footerFragment"></div>
</body>
</html>
