<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unique Games</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script><!-- 마이크로소프트 jQuery-->
    <script src="/js/board.js"></script>
    <script src="/js/comment.js"></script>
    <script th:inline="javascript" th:if="${result}">
        getResult([[${result}]])
    </script>
    <script th:inline="javascript" th:if="${cmtresult}">
        getResultCmt([[${cmtresult}]]);
    </script>
</head>

<body>
<div th:replace="~{main/header :: headerFragment}"></div>
<section id="top-bg">
    <div id="base-layer">
        <div id="top-bg-textarea">
            <p id="top-title">Notice</p>
            <p id="top-subtitle">#공지사항</p>
        </div>
    </div>
</section>
<div class="content">
    <div class="board-content">
        <div class="board-top-menu">
            <p>Notice</p>
            <div>
                <ul>
                    <li>
                        <button type="button" class="btn-style" name="update">수정</button>
                    </li>
                    <li>
                        <button type="button" class="btn-style" name="delete">삭제</button>
                    </li>
                    <li>
                        <button type="button" class="btn-style" name="list">목록</button>
                    </li>
                </ul>
            </div>
            <div id="clearFix"></div>
        </div>
        <table>
            <tr>
                <th>제목</th>
                <td colspan="5" id="btitle" th:text="${notice.title}"></td>
            </tr>
            <tr>
                <th>등록자</th>
                <td th:text="${notice.name}"></td>
                <th>조회수</th>
                <td style="text-align: center;" th:text="${notice.noticeHits}"></td>
                <th>등록일</th>
                <td th:text="${notice.dateOutput}"></td>
            </tr>
            <tr>
                <td colspan="6" style="border:none;">
                    <div class="details" th:utext="${notice.content}">
                    </div>
                </td>
            </tr>
        </table>
        <input type="hidden" id="authorId" th:data-author-id="${notice.cId}">

    </div>
    <section id="comment-box" th:with="loginMember = ${session.get('loginMember')}">
        <div>
            <!-- Comment form-->
            <form id="comment-write" name="Comment">
                <input type="hidden" name="postId" th:value="${notice.getId}">
                <input type="hidden" th:id="member-id" name="mId" th:if="${loginMember != null}"
                       th:value="${#strings.contains(loginMember,'Member') ? loginMember.memberId : loginMember.companyId}"/>
                <input type="hidden" th:id="member-id" name="mId" th:unless="${loginMember != null}" value=""/>
                <textarea id="form-control" rows="3" name="commentContent"
                          placeholder="타인에게 불쾌함을 주는 댓글은 통보없이 삭제될 수 있습니다."></textarea>
                <button type="button" class="btn-style" name="cmtWrite">등록</button>
            </form>
            <!-- Comment -->
            <th:block th:each="c : ${commList}"
                      th:with="login = ${loginMember != null and #strings.contains(loginMember,'Member')} and ${c.mId} == ${loginMember.memberId}">
                <div id="comment" th:id="'comment' + ${c.id}" class="comment1">
                    <nav>
                        <span id="msg-date" th:text="${c.commentDate}"></span>
                        <span class="cmtNav" th:onclick="'commentDelete(' + ${c.id} + ')'" th:if="${login}">삭제</span>
                        <span class="cmtNav" th:onclick="'commentReport(' + ${c.id} + ')'" th:unless="${login}">신고</span>
                    </nav>
                    <div>
                        <div class="cmt-img">
                            <img th:src="${c.profileImg != null ? c.profileImg : '/images/comment-default.png'}"/>
                        </div>
                        <div class="cmt-text">
                            <span th:text="${c.MId}" id="user-name"></span>
                            <p th:utext="${c.commentContent}" class="comment-content"></p>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </section>
    <form name="noticeDelete" action="/notice/delete" method="post"><input type="hidden" name="no"
                                                                           th:value="${notice.id}"/>
        <input th:if="${notice.uploadImg}" type="hidden" name="imgDel" th:value="${notice.uploadImg}"/>
    </form>
</div>
<div th:replace="~{main/footer :: footerFragment}"></div>
</body>
</html>
