<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>신고</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script> <!-- 마이크로소프트 jQuery-->
    <script src="/js/comment.js"></script>
    <link rel="stylesheet" href="/css/report-pop-up.css">
</head>
<body>
<div class="pop_wrap">
    <div class="pop_header"><h1>신고하기</h1></div>
    <div class="pop_container">
        <div class="pop_content">
            <div class="lst_report">
                <dl class="report_area">
                    <dt><span class="inner">작성자</span></dt>
                    <dd class="report_nick"></dd>
                    <dt><span class="inner">내 용</span></dt>
                    <dd class="report_cont"></dd>
                </dl>
            </div>
            <div class="lst_reason"><strong class="reason_title">사유선택</strong> <!---->
                <div class="list_type">
                    <ul>
                        <li class="list"><input type="radio" name="select" id="0" class="report_reason">
                            <div class="check_area"><label for="0">스팸홍보/도배글입니다.</label>
                            </div>
                        </li>
                        <li class="list"><input type="radio" name="select" id="1" class="report_reason">
                            <div class="check_area"><label for="1">음란물입니다.</label>
                            </div>
                        </li>
                        <li class="list"><input type="radio" name="select" id="2" class="report_reason">
                            <div class="check_area"><label for="2">불법정보를 포함하고 있습니다.</label>
                            </div>
                        </li>
                        <li class="list"><input type="radio" name="select" id="4" class="report_reason">
                            <div class="check_area"><label for="4">욕설/생명경시/혐오/차별적 표현입니다.</label>
                            </div>
                        </li>
                        <li class="list"><input type="radio" name="select" id="5" class="report_reason">
                            <div class="check_area"><label for="5">개인정보 노출 게시물입니다.</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="pop_footer"><a href="#" class="btn_submit">신고하기</a></div>
    <button type="button" class="btn_close"><span class="blind">닫기</span></button>
</div>
<script>
    $(document).ready(function () {
        init()

        $(".btn_submit").on("click", function () {
            report()
        })

        $(".btn_close").on("click", () => {
            window.close()
        })
    })
</script>

</body>
</body>
</html>
