<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--매퍼 위치(해당 매퍼 인터페이스와 매핑)-->
<mapper namespace="com.uniqueGames.repository.DetailMapper">
  <!-- 소개글 등록 -->
  <insert id="insertIntro" parameterType="Intro" >
    INSERT INTO tb_intro (c_id,name,title, content,upload_img)
    VALUES ( #{cId},#{name}, #{title}, #{content},#{uploadImg})
  </insert>
  <!-- 소개글 조회 -->
  <select id="getIntro" parameterType="int" resultType="Intro">
    SELECT * FROM tb_intro WHERE id = #{id}
  </select>
  <!-- 소개글 조회 2-->
  <select id="getIntroTitle" parameterType="String" resultType="Intro">
    SELECT * FROM tb_intro WHERE title = #{title}
  </select>
  <!-- 소개글 수정 -->
  <update id="updateIntro" parameterType="Intro">
  UPDATE tb_intro SET title = #{title}, content = #{content}, name = #{name}
  WHERE id = #{id}
    </update>

  <!-- 소개글 삭제 -->
  <delete id="deleteIntro" parameterType="int">
    DELETE FROM tb_intro WHERE id = #{id}
  </delete>

  <!-- 소개글 전부 가져오기 -->
  <select id="getIntroList" resultType="Intro">
    SELECT * FROM tb_intro ORDER BY id
  </select>

  <select id="findByAllCount"  resultType="Integer">
    SELECT COUNT(*) FROM tb_intro
  </select>
  
</mapper>