<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>findAccount</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="/js/jquery-3.6.4.min.js"></script>
  <script>
    //JavaScript 코드
    document.addEventListener('DOMContentLoaded', function() {
      // URL에서 selectedTab 파라미터 값을 가져옴
      var urlParams = new URLSearchParams(window.location.search);
      var selectedTab = urlParams.get('selectedTab');


      // 선택한 탭을 표시
      if (selectedTab) {
        document.getElementByclass(selectedTab).checked = true;
      }
    });

    let c = "${find_result }";
    if(c == "fail"){
      alert("등록된 회원정보가 없습니다");
      location.href="findCompany";
    }
  </script>
  <script>
    $(document).ready(function(){

      $("#button-gradient").click(function(){

        if($("input[name='name']").val()==""){
          alert("이름을 입력해주세요");
          $("input[name='name']").focus();
          return false;
        }else if($("input[name='phone_num']").val()==""){
          alert("휴대전화를 입력해주세요");
          $("input[name='phone_num']").focus();
          return false;
        }else {
          $.ajax({
            url : "cfindclass_check",
            type : "POST",
            data : {
              name : $("input[name='name']").val(),
              phone_num :$("input[name='phone_num']").val()
            },

            success : function(result) {
              if(result=="") {
                $("#modal2").show();
                $("#agreement-content1").html($(".find-class-none").html());
              }else {
                $("#modal2").show();
                $("#find-class-result").html(result);
                $("#agreement-content1").html($(".deleteComplete").html());
              }
            }
          });
        }
      });

      $("#button-gradient-findPwd").click(function(){

        if($("input[name='company_class']").val()==""){
          alert("아이디를 입력해주세요");
          $("input[name='company_class']").focus();
          return false;
        }else if($("#input-common-name").val()==""){
          alert("이름을 입력해주세요");
          $("#input-common-name").focus();
          return false;
        }else if($("#input-common-phone").val()==""){
          alert("휴대전화를 입력해주세요");
          $("#input-common-phone").focus();
          return false;
        }else {
          cfindPwdForm.submit();
        }
      });


      $(document).on("click", "#button-gradient-gotoFind", function(event){

        $("#modal2").hclasse();
        $("input[name='name']").val("").focus();
        $("input[name='member_class']").val("").focus();
        $("input[name='phone_num']").val("");


      });

      $(document).on("click", "#button-gradient-gotoPwd", function(event){

        $("#modal2").hclasse();
        location.href="/findCompany?selectedTab=findPwd";

      });
      $(document).on("click", "#button-gradient-gotoLogin", function(event){

        $("#modal2").hclasse();
        location.href="/login?selectedTab=company-login";

      });

      $(document).on("click", "#button-gradient-gotoJoin", function(event){

        $("#modal2").hclasse();
        location.href="/join?selectedTab=company";

      });

    })

  </script>

</head>
<body>
<!--header-->
<div th:replace="/main/header::headerFragment"></div>
<section class="top-bg">
  <div class="base-layer">
    <div class="top-bg-textarea">
      <p class="top-title">Login</p>
      <p class="top-subtitle">#로그인</p>
    </div>
  </div>
</section>
<section class="content-1"><!-- find-class -->
  <p class="intro">법인 회원</p>
  <input id="findclass" type="radio" name="findAccount" checked>
  <label for="findclass" class="findclass-tab">아이디 찾기</label>
  <input id="findPwd" type="radio" name="findAccount">
  <label for="findPwd" class="findPwd-tab">비밀번호 찾기</label>

  <form action="cfindclass_check" name="cfindclassForm" method="post" id="findclassForm">
    <ul>
      <li>
        <input type="text" name="name" placeholder="이름">
        <span class="msgName"></span>
      </li>
      <li>
        <input type="text" name="phone_num" placeholder="휴대전화">
        <span class="msgPhone"></span>
      </li>
      <li>
        <button type="button" class="button-gradient">아이디 찾기</button>
      </li>
    </ul>
  </form>

  <form action="cfindPwd_check" name="cfindPwdForm" method="post" id="findPwdForm">
    <p class="intro-2">비밀번호를 찾으려는 아이디</p>
    <ul>
      <li>
        <input type="text" name="companyId" placeholder="아이디">
        <span class="msgclass"></span>
      </li>
      <li>
        <input type="text" name="name" placeholder="이름">
        <span class="msgName1"></span>
      </li>
      <li>
        <input type="text" name="phone_num" placeholder="휴대전화">
        <span class="msgPhone1"></span>
      </li>
      <li>
        <button type="button" class="button-gradient-findPwd">비밀번호 찾기</button>
      </li>
    </ul>
  </form>
</section>

<div class="modal2">
  <div class="agreement2" class="agreement-findclass">
    <div class="agreement-content1">
    </div>
  </div>
</div>

<div class="deleteComplete">
  <p class="agreement-title">아이디 찾기</p>
  <span class="delete-span">아이디 :
		<span class="find-class-result"></span>
		</span>
  <ul>
    <li>
      <button type="button" id="button-gradient-gotoLogin" name="btn-agreement">로그인 하러가기</button>
      <button type="button" id="button-gradient-gotoPwd" name="btn-agreement">비밀번호 찾기</button>
    </li>
  </ul>
</div>
<div class="find-id-none">
  <p class="agreement-title">아이디 찾기</p>
  <span class="delete-span">등록된 아이디가 없습니다</span>
  <ul>
    <li>
      <button type="button" id="button-gradient-gotoFind" name="btn-agreement">다시입력</button>
      <button type="button" id="button-gradient-gotoJoin" name="btn-agreement">회원가입</button>
    </li>
  </ul>
</div>
<!--footer-->
<div th:replace="/main/footer::footerFragment"></div>
</body>
</html>