<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>findAccount</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/login_script.js}"></script>
  <script th:inline="javascript">
    //JavaScript 코드

    document.addEventListener('DOMContentLoaded', function() {
      // URL에서 selectedTab 파라미터 값을 가져옴
      var urlParams = new URLSearchParams(window.location.search);
      var selectedTab = urlParams.get('selectedTab');

      // 선택한 탭을 표시
      if (selectedTab) {
        document.getElementById(selectedTab).checked = true;
      }
    });
    /*<![CDATA[*/
    const error = [[${result}]];
    const url = [[${url}]];

    if(error == "error") {
      alert("등록된 회원정보가 없습니다");
      location.href = url;
    }
    /*]]>*/
  </script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){

      $("#findIdButton").click(function() {
        if ($("input[name='email']").val() === "") {
          alert("이메일을 입력해주세요");
          $("input[name='email']").focus();
          return false;
        } else if ($("input[name='name']").val() === "") {
          alert("이름을 입력해주세요");
          $("input[name='name']").focus();
          return false;
        } else {
          $.ajax({
            url: "findmid",
            type: "POST",
            data: {
              email : $("input[name='email']").val(),
              name: $("input[name='name']").val()
            },
            success: function(result) {
              if (result == "") {
                $(".modal2").show();
                $(".agreement-content1").html($(".find-id-none").html());
              } else {
                $(".modal2").show();
                $(".delete-span").html($("input[name='name']").val());
                $(".find-id-result").html(result).css("font-size", "16px").css("color", "#2E7AF6");
                $(".agreement-content1").html($(".deleteComplete").html());
              }
            }
          });
        }
      });

      $("#findPass").click(function(){
        var email = $("#email");
        var member_id = $("#memberId");
        var name = $("#name");

        if(email.val()==""){
          alert("이메일을 입력해주세요");
          email.focus();
          return false;
        }else if(member_id.val()==""){
          alert("아이디를 입력해주세요");
          member_id.focus();
          return false;
        }else if(name.val()==""){
          alert("이름을 입력해주세요");
          name.focus();
          return false;
        }else {
          $.ajax({
            url : "changempass",
            type : "POST",
            data : {
              email : email.val(),
              member_id : member_id.val(),
              name : name.val()
            },

            success : function(result) {
              if(result=="") {
                $(".modal2").show();
                $(".agreement-content1").html($(".find-id-none").html());
              }else {
                $(".modal3").show();
                $("#memberId1").attr("value", result);
                $(".agreement-content2").html($(".mchangepass").html());

              }
            }
          });
        }
      });

      $(document).on("click", "#gotoFind", function(event){

        $(".modal2").hide();
        $("input[name='email']").val("").focus();
        $("input[name='memberId']").val("");
        $("input[name='name']").val("");

      });

      $(document).on("click", "#gotoPwd", function(event){

        $(".modal2").hide();
        location.href="/findMember?selectedTab=findPwd";

      });
      $(document).on("click", "#gotoLogin", function(event){

        $(".modal2").hide();
        location.href="/login";

      });

      $(document).on("click", "#gotoJoin", function(event){

        $(".modal2").hide();
        location.href="/join";

      });

    });
    /*]]>*/
  </script>
</head>
<body>
<!--header-->
<div th:replace="/main/header::headerFragment"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">Login</p>
      <p id="top-subtitle">#로그인</p>
    </div>
  </div>
</section>
<section class="content-1"><!-- find-class -->
  <p class="intro">개인 회원</p>
  <input id="findId" type="radio" name="findAccount" checked>
  <label for="findId" class="findId-tab">아이디 찾기</label>
  <input id="findPwd" type="radio" name="findAccount">
  <label for="findPwd" class="findPwd-tab">비밀번호 찾기</label>

  <form action="findmid" name="findIdForm" method="post" id="findIdForm">
    <input type="hidden" name="type2" th:value="member">
    <ul>
      <li>
        <input type="text" name="email" placeholder="이메일">
        <span class="msgName"></span>
      </li>
      <li>
        <input type="text" name="name" placeholder="이름">
        <span class="msgPhone"></span>
      </li>
      <li>
        <button type="button" class="button-gradient" id="findIdButton">아이디 찾기</button>
      </li>
      <li>
        <a th:href = "@{/login}" class="toLogin">return to login</a>
      </li>
    </ul>
  </form>

  <form action="changempass" name="findPwdForm" method="post" id="findPwdForm">
    <p class="intro-2">비밀번호를 찾으려는 아이디</p>
    <ul>
      <li>
        <input type="text" name="email" id="email" placeholder="이메일">
        <span class="msgclass"></span>
      </li>
      <li>
        <input type="text" name="memberId" id="memberId" placeholder="아이디">
        <span class="msgName1"></span>
      </li>
      <li>
        <input type="text" name="name" id="name" placeholder="이름">
        <span class="msgPhone1"></span>
      </li>
      <li>
        <button type="button" class="button-gradient" id="findPass">비밀번호 찾기</button>
      </li>
      <li>
        <a th:href = "@{/login}" class="toLogin">return to login</a>
      </li>
    </ul>
  </form>
</section>

<div class="modal2">
  <div class="agreement2" id="agreement-findId">
    <div class="agreement-content1">
    </div>
  </div>
</div>

<div class="modal3">
  <div class="agreement3">
    <div class="agreement-content2">
    </div>
  </div>
</div>

<div class="deleteComplete">
  <p class="agreement-title">아이디 찾기</p>
  <span class="delete-span"></span> 님의 아이디 :
		<span class="find-id-result"></span>
  <ul>
    <li>
      <button type="button" class="find-button-gradient" id="gotoLogin" name="btn-agreement">로그인 하러가기</button>
      <button type="button" class="find-button-gradient" id="gotoPwd" name="btn-agreement">비밀번호 찾기</button>
    </li>
  </ul>
</div>

<div class="mchangepass">
  <p class="agreement-title">비밀번호 변경</p>
  <form action="mchangepass" name="changePassForm" method="post" id="changePassForm">
    <div>
      <ul>
        <li>
          <input type="hidden" name="memberId" id="memberId1" th:value="${memberId}">
        </li>
        <li>
          <input type="password" name="newpassword" placeholder="새로운 비밀번호">
        </li>
        <li>
          <input type="password" name="newpassword-check" placeholder="새로운 비밀번호 확인">
        </li>
        <li>
          <button type="button" class="button-gradient" onclick="changePassword()">비밀번호 변경</button>
        </li>
        <li>
          <a th:href = "@{/login}" class="toLogin">return to login</a>
        </li>
      </ul>
    </div>
  </form>
</div>

<div class="find-id-none">
  <p class="agreement-title">아이디/비밀번호 찾기</p>
  <span class="delete-span">등록된 회원정보가 없습니다</span>
  <ul>
    <li>
      <button type="button" class="find-button-gradient" id="gotoFind" name="btn-agreement">다시입력</button>
      <button type="button" class="find-button-gradient" id="gotoJoin" name="btn-agreement">회원가입</button>
    </li>
  </ul>
</div>

<div th:replace="/main/footer::footerFragment"></div>

</body>
</html>