<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 재설정</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script src="/js/jquery-3.6.4.min.js"></script>
  <script th:src="@{/js/login_script.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function(){

      $(".button-gradient").click(function() {
        var password = [[${member.password}]];
        var oldpass = $("input[name='password']");
        var newpassword = $("input[name='newpassword']");
        var newpasswordCheck = $("input[name='newpassword-check']");

        if(oldpass.val() == "") {
          alert("현재 비밀번호를 입력하세요");
          oldpass.focus();
          return false;
        } else if (newpassword.val() == "") {
          alert("새 비밀번호를 입력하세요");
          newpassword.focus();
          return false;
        } else if (newpasswordCheck.val() == "") {
          alert("새 비밀번호 확인칸을 입력하세요");
          newpasswordCheck.focus();
          return false;
        } else if (newpassword.val() != newpasswordCheck.val()) {
          alert("비밀번호가 동일하지 않습니다");
          newpasswordCheck.focus();
          return false;
        } else if (oldpass.val() != password) {
          alert("현재 비밀번호가 일치하지 않습니다\n다시 입력해주세요");
          oldpass.focus();
          return false;
        } else {
          $("#newpassForm").submit();
        }
      });
    });

  </script>
</head>
<body>
<div th:replace="/main/header :: headerFragment"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">My Page</p>
      <p id="top-subtitle">#마이페이지</p>
    </div>
  </div>
</section>
<section class="content-mypage">
  <div class="sidebar">
    <ul>
      <li th:if="${member?.profileImg == null} or ${member?.profileImg == ''}" class="mypage-profile">
        <img src="/images/mypage-profile.png" class="profile-picture">
      </li>
      <li th:unless="${member?.profileImg == null} or ${member?.profileImg == ''}">
        <img th:src="@{/upload/{a}(a=${member?.profileImg})}" class="profile-picture-1">
      </li>
      <li class="mypage-info" th:text="${member?.name}" id="mypage-info-1"></li>
      <li class="mypage-info" id="mypage-id" th:text="${member?.memberId}"></li>
      <li class="mUpdate"><a th:href="@{/mypage}">개인 정보</a></li>
      <li class="mUpdate1" id="active"><a th:href="@{/newpass}">비밀번호 재설정</a> </li>
      <li class="mUpdate1"><a th:href="@{/mypagepayment}">결제 내역</a></li>
      <li class="mUpdate1"><a th:href="@{/deleteaccount}">회원탈퇴</a></li>
    </ul>
  </div>
  <form action="mypagenewpass" name="newpassForm" method="post" class="deleteForm" id="newpassForm">
    <p class="intro-4">비밀번호 재설정</p>
    <input type="hidden" name="memberId" th:value="${member?.memberId}">
    <div class="div-update">
      <ul>
        <li>
          <input type="password" name="password" class="mypage-input" placeholder="현재 비밀번호">
        </li>
        <li>
          <input type="checkbox" class="mypage-pwd-check-img" id="pwd-check-img" onclick="memberPassVisible()">
        </li>
        <li>
          <input type="password" name="newpassword" class="mypage-input" id="newpassInput" placeholder="새로운 비밀번호">
        </li>
        <li>
          <input type="checkbox" class="mypage-pwd-check-img" id="mypage-pwd-check-img" onclick="mypagePassVisible()">
        </li>
        <li>
          <input type="password" name="newpassword-check" class="mypage-input" id="newpassInputCheck" placeholder="새로운 비밀번호 재입력">
        <li>
          <input type="checkbox" class="mypage-pwd-check-img" id="mypage-pwd-check-img-1" onclick="mypagePassCheckVisible()">
        </li>
        <li>
          <button type="button" class="button-gradient">수정 하기</button>
        </li>
      </ul>
    </div>
  </form>
</section>

<div th:replace="/main/footer :: footerFragment"></div>

</body>
</html>
