<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원탈퇴</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function() {

      $(".button-gradient").click(function() {
        var memberId = [[${member.memberId}]];
        var password = [[${member.password}]];
        var inputpass = $("input[name='password']");

        if (inputpass.val() == "") {
          alert("비밀번호를 입력하세요");
          inputpass.focus();
          return false;
        } else if(inputpass.val() != password){
          alert("비밀번호가 일치하지 않습니다");
          inputpass.focus();
          return false;
        }else {
          $.ajax({
            url: "deletecheck",
            type: "POST",
            data: {
              memberId: $("input[name='memberId']").val(),
              password: $("input[name='password']").val()
            },
            success: function(result) {
              if (result == 1) {
                $(".modal2").show();
                $(".delete-member-id").html(memberId);
                $(".agreement-content1").html($(".deleteComplete").html());
              } else {
                alert("비밀번호가 일치하지 않습니다");
                $("input[name='password']").val("").focus();
              }
            }
          });
        }
      });

      $(document).on("click", "#home", function(event) {
        $(".modal2").hide();
        location.href="/";
      });
    });
  </script>
</head>
<body>
<!--header-->
<div th:replace="/main/header::headerFragment"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">My Page</p>
      <p id="top-subtitle">#마이페이지</p>
    </div>
  </div>
</section>
<section class="content-mypage">
  <div class="sidebar">
    <ul>
      <li class="mypage-profile">
        <img src="/images/mypage-profile.png" class="profile-picture">
      </li>
      <li class="mypage-info" th:text="${member?.name}"></li>
      <li class="mypage-info" id="mypage-id" th:text="${member?.memberId}"></li>
      <li class="mUpdate"><a th:href="@{/mypage}">개인 정보</a></li>
      <li class="mUpdate1"><a th:href="@{/newpass}">비밀번호 재설정</a> </li>
      <li class="mUpdate1"><a href="member-order">결제 내역</a></li>
      <li class="mUpdate1" id="active"><a th:href="@{/deleteaccount}">회원탈퇴</a></li>
    </ul>
  </div>

  <form action="delete_check" name="loginForm" method="post" class="deleteForm">
    <p class="intro-4">회원탈퇴</p>
    <div class="div-delete">
      <p class="delete-intro">탈퇴 사유</p>
      <ul>
        <li>
          <select class="selectbox-find">
            <option value="default">사유를 선택해주세요</option>
            <option value="1">너무 많은 시간을 소비해서</option>
            <option value="2">서비스가 좋지 않아서</option>
            <option value="3">타 사이트가 더 좋아서</option>
            <option value="4">삭제하고싶은 내용이 있어서</option>
            <option value="5">사용빈도가 너무 적어서</option>
            <option value="6">콘텐츠 불만</option>
            <option value="7">기타</option>
          </select>
        </li>
        <li>
          <!-- disabled 속성은 Thymeleaf의 th:disabled로 변경됩니다 -->
          <input type="text" name="memberId" th:value="${member?.memberId}" th:disabled="disabled">
          <input type="hidden" name="memberId" th:value="${member?.memberId}">
          <span class="msgId"></span>
        </li>
        <li>
          <input type="password" name="password" placeholder="비밀번호">
          <span class="msgPwd"></span>
        </li>
        <li class="intro-3">
          <span class="delete-class" th:text="${member?.memberId}"></span>님!
          <p class="delete-content">
            회원 탈퇴하려고 하신다니 저희 사이트의 서비스가 많이 부족하고 미흡했나 봅니다.<br>
            불만사항이나 사유를 알려주신다면 적극 반영해서 고객님의 불편함을 해결해드리도록 노력하겠습니다.
            회원 탈퇴시의 아래 사항을 숙지하시기 바랍니다.
          </p>
          <p class="delete-caution">
            1. 회원 탈퇴 시 고객님의 정보는 모두 삭제됩니다.<br>
            2. 후원하셨던 게임의 후원금을 반환받지 못합니다.<br>
            3. 회원 탈퇴 후 2주간 재가입이 불가능합니다.<br>
          </p>
        </li>
        <li>
          <button type="button" class="button-gradient">회원 탈퇴</button>
        </li>
      </ul>
    </div>
  </form>
</section>

<div class="modal2">
  <div class="agreement2">
    <div class="agreement-content1">
    </div>
  </div>
</div>

<div class="deleteComplete">
  <p class="agreement-title">회원탈퇴</p>
  <span class="delete-span">
		<span class="delete-member-id"></span>님!<br>
		회원 탈퇴가 정상적으로 완료되었습니다.
		</span>
  <ul>
    <li>
      <button type="button" class="button-gradient" id="home" name="btn-agreement">홈으로</button>
    </li>
  </ul>
</div>

<!--footer-->
<div th:replace="/main/footer::footerFragment"></div>
</body>
</html>
