/** board style **/
.content {
    margin: 100px auto;
}

.board-content > table, .user-btable, .admin-btable, .board-write > table {
    border-collapse: collapse;
    border-top: 2px solid #393939;
    border-bottom: 2px solid #393939;
}

/* board top menu */
.board-top-menu {
    padding-bottom: 10px;
    font-size: 0;
}

.board-write > form > table {
    border-collapse: collapse;
    border: 1px solid #DDDDDD;
    border-top: 2px solid #393939;
    border-bottom: 2px solid #393939;
}

.board-top-menu > p {
    font-size: 24px;
    float: left;
}

.board-top-menu > div > form {
    position: relative;
    margin-left: 295px;
    display: inline;
}

.board-top-menu > div > form input {
    width: 215px;
    height: 14px;
    border: 1px solid #DDDDDD;
    padding: 7px 30px 7px 16px;
    font-size: 14px;
}

.bsearch-box {
    float: right;
}

.searchType {
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    padding: 4px 10px;
    margin-right: 5px;
    font-size: 14px;
    text-align: left;
}

.searchType:focus, .searchType:hover, .searchType:default {
    border: 1px solid rgba(85, 85, 85, 1);
    outline: none;
}

.board-top-menu > div > ul > li:last-child > button {
    margin-right: 0;
}

.board-top-menu > div > ul > li:last-child > a > button {
    margin-right: 0;
}

.board-top-menu > div > ul {
    float: right;
}

.board-top-menu > div > ul > li {
    float: left;
    margin-left: 10px;
}

#btn-search {
    background: none;
    border: none;
    position: absolute;
    top: -15px;
    right: 10px;
    cursor: pointer;
}

/* board */
.admin-btable {
    table-layout: fixed;
}

.admin-btable th {
    border-bottom: 1px solid #DDDDDD;
}

.admin-btable th,
.admin-btable td {
    padding: 18px;
    text-align: center;
}

.admin-btable tr > th:first-child,
.admin-btable tr > td:first-child,
.admin-btable tr > th:nth-child(2),
.admin-btable tr > td:nth-child(2) {
    padding: 8px;
    width: 35px;
}

.admin-btable tr > td:nth-child(3) {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.admin-btable tr > th:nth-child(3),
.admin-btable tr > td:nth-child(3) {
    max-width: 671px;
    width: 671px;
}

.user-btable, .admin-btable {
    border-bottom: none;
}

.user-btable tr:last-child, .admin-btable tr:last-child {
    border-top: 2px solid #393939;
}

/* board - user */
.user-btable th {
    border-bottom: 1px solid #DDDDDD;
}

.user-btable th,
.user-btable td {
    padding: 18px;
    text-align: center;
}

.user-btable tr > th:first-child,
.user-btable tr > td:first-child {
    padding: 8px;
}

.user-btable tr > td:nth-child(2) {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 671px;
    width: 671px;
}

.user-btable tr > td:nth-child(3) {
    text-align: center;
}

/* board - write */
.board-write > form > table th {
    padding: 19px 35px;
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.board-write > form > table td {
    font-size: 14px;
    border-bottom: 1px solid #DDDDDD;
    padding: 8px;
}

.default-write {
    font-size: 14px;
    border: 1px solid #DDDDDD;
    padding: 12px 16px;
    width: 948px;
}

.board-write > form > table td > input {
    height: 14px;
}

.board-write > form > table td > textarea {
    height: 153px;
    resize: none;
}

.ck-editor__editable {
    height: 500px;
}

/* board - content */
.board-content > table th {
    padding: 19px 8px;
    font-size: 16px;
    background: #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.board-content > table td {
    font-size: 17px;
    border-bottom: 1px solid #DDDDDD;
    padding: 8px;
}

.board-content > table th:first-child {
    text-align: left;
}

.board-content > table td:nth-child(2) {
    width: 50%;
}

.details {
    padding: 10px 30px;
    text-align: left;
    max-width: 1000px;
}

#clearFix {
    clear: both;
}

/* comment */
#comment-box {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 2px solid #393939;
}

#form-control {
    display: block;
    font-size: 14px;
    padding: 12px 16px;
    margin: auto;
    width: 1000px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    resize: vertical;
}

.comment1 {
    border-top: 1px solid #C5C9D3;
    padding: 20px 5px;
}

.comment1 > nav {
    float: right;
}

#comment-write {
    margin: 5px;
}

#comment-write > button {
    margin-top: 5px;
    position: relative;
    left: 972px;
}

.cmt-img {
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
}

.cmt-img > img {
    border-radius: 40px;
    height: 60px;
    width: 60px;
}

.cmt-text {
    display: inline-block;
    vertical-align: top;
}

#user-name {
    font-weight: bold;
}

.comment-content {
    padding-top: 10px;
}

#msg-date {
    font-size: 14px;
    padding-right: 7px;
}

.cmtNav {
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    border-left: 1px solid #DDDDDD;
}