
.btn-style{
  background: #393939;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  color: #FFFFFF;
  font-size: 14px;
  vertical-align: top;
  cursor: pointer;
}
#board-top-menu{
  padding-bottom: 10px;
  font-size: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
#board-top-menu > div > ul {
  float: right;
}

#board-top-menu > div > ul > li {
  float: left;
  margin-left: 10px;
}
.Frame2{
  width: 100%;
  height: 100%;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 410px;
  padding-right: 398px;
  background: white;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex
}

.Group18{
  width: 1112px;
  height: 388px;
  position: relative;
  margin-bottom: 30px;
}
.Group17{
  width: 330px;
  height: 388px;
  left: 0px;
  top: 0px;
  position: absolute
}

.Rectangle39{
  width: 330px;
  height: 350px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: white;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.10);
  border-radius: 10px;
  border: 1px #CECECE solid
}
.EnGameName {
  left: 31px;
  top: 80px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

.GameName {
  left: 31px;
  top: 130px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.Line1 {
  width: 50px;
  height: 0px;
  left: 31px;
  top: 60px;
  position: absolute;
  border: 0.50px black solid;
}

.MaskGroup {
  width: 110px;
  height: 110px;
  left: 191px;
  top: 248px;
  position: absolute;
}

.MaskGroup > div.Vector1 {
  width: 110px;
  height: 110px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #D9D9D9;
}

.MaskGroup > img.Image3 {
  width: 317.24px;
  height: 91.70px;
  left: 6.60px;
  top: 13.23px;
  position: absolute;
}
.Description{
  left: 408px;
  top: 84px;
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word
}
.Info {
  left: 408px;
  top: 40px;
  position: absolute;
  color: #6630AD;
  font-size: 24px;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

.Games {
  left: 408px;
  top: 191px;
  position: absolute;
  color: #31BBCB;
  font-size: 24px;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
}

.Rectangle41 {
  width: 200px;
  height: 100px;
  left: 408px;
  top: 240px;
  position: absolute;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.10);
}

.Rectangle42 {
  width: 200px;
  height: 100px;
  left: 673px;
  top: 240px;
  position: absolute;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.10);
}

.Rectangle43 {
  width: 200px;
  height: 100px;
  left: 938px;
  top: 240px;
  position: absolute;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.10);
}

/*.Rectangle44 {*/
/*  width: 174px;*/
/*  height: 174px;*/
/*  left: 938px;*/
/*  top: 213px;*/
/*  position: absolute;*/
/*  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);*/
/*}*/

.ExpandMoreFill1Wght400Grad0Opsz48 {
  width: 32px;
  height: 18px;
  left: 370px;
  top: 316px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  background: black;
}
