/* Input */
input {
	width: 394px;
	padding: 20px 0;
	margin: 5px 0;
	text-indent: 10px;
	border-radius: 3px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 16px;
}

input[type="text"]:focus {
	border: 1px solid gray;
}

input[name='email1'], input[name='email2'] {
	width: 122px;
}

input[name="phone2"], input[name='phone3'] {
	width: 104px;
}

#input-phone-company {
	width: 118px;
	height: 43px;
	border-radius: 3px;
	border: 1px solid lightgray;
	font-size: 16px;
	text-indent: 10px;
}

input[name="email-auth-check"] {
	margin-top: -10px;
}

/* Button */
.button-gradient, .find-button-gradient {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right, #682CAD, #2FC0CC);
	border-radius: 3px;
	font-family: "YouandiModern", sans-serif;
	margin: 10px 0;
	font-size: 20px;
}

.button-style {
	width: 80px;
	height: 30px;
	background: #393939;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	vertical-align: top;
	cursor: pointer;
}


.find-button-gradient {
	width: 180px;
	height: 50px;
	margin-top: 20px;
}

#button-gradient-delete {
	background: black;
	border-radius: 3px;
}

.button-style {
	width: 90px;
	height: 40px;
	position: relative;
	top: -55px;
	left: 405px;
}

#mypage-email-btn, #mypage-addr-btn {
	position: relative;
	top: -57px;
	left: 250px;
}

a:visited {
	color: initial;
}

.detail1, .detail2 {
	text-decoration: underline;
	color: Blue;
	margin-left: 10px;
	cursor: pointer;
	color: #6E6E6E;
}

.link-findAccount {
	display: inline-block;
	background: white;
	color: #2B2B2B;
	font-size: 14px;
	padding: 0 8px;
	font-family: "YouandiModern", sans-serif;
	margin-top: 30px;
}

.link-signUp {
	display: inline-block;
	font-family: "Apex New";
	font-weight: 500;
	color: #2E7AF6;
	font-size: 14px;
	margin: 25px 10px 0 8px;
}

.link-signUp:visited {
	color: #2E7AF6;
}

#link-deleteAccount, #link-changePassword, #link-donation {
	margin-left: 330px;
	color: #333;
	font-weight: bold;
	font-size: 10pt;
}

#link-changePassword {
	margin-left: 300px;
}

#link-donation {
	margin-left: 285px;
}

/* CheckBox */
li input[name="agreementAll"] {
	height: 1rem;	width: 1rem;
	padding: 0px;
	border: 2px solid #2C2C2C;
	border-radius: 50%;
	appearance: none;
	cursor: pointer;
}

input[name="agreementAll"]:checked {
	background: #2C2C2C;
}

input[name="chk-agree"], input[name="c-chk-agree"] {
	width: 20px;	height: 20px;
	background-image: url("../images/btn-check-normal.png");
	background-repeat: no-repeat;
	margin: 0px 4px;
	padding: 0px;
	appearance: none;
	border: none;
	cursor: pointer;
}

input[name="chk-agree"]:checked, input[name="c-chk-agree"]:checked {
	background-image: url("../images/btn-check-select.png");
	background-repeat: no-repeat;
}

/* Select */
select {
	border: 1px solid lightgray;
	border-radius: 3px;
	outline: none;
	text-indent: 10px;
	padding: 20px 0;
	margin: 5px 0;
	font-size: 16px;
}

select:focus {
	border: 1px solid gray;
}

.selectbox-find {
	width: 394px;
	margin: 10px 0;
}

select[name='email3'] {
	width: 125px;
}

select[name='tel'] {
	width: 80px;
}

select[name='phone1'] {
	width: 80px;
}


/* Modal */
div.agreement, div.agreement2, div.agreement3 {
	width: 450px;
	height: 550px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	background: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: inset 0px 3px 6px #0000001A, 0px 10px 20px #00000029;
}

.modal, .modal2, .modal3 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(128, 128, 128, .3);
	display: none;
}

.agreement-title {
	margin: 20px 0px;
	padding-top: 30px;
	text-align: center;
	font-family: "YouandiModern", sans-serif;
	color: #2B2B2B;
	font-size: 24px;
}

.agreement-content {
	text-align: center;
	width: 370px;
	height: 340px;
	padding: 15px;
	font-family: "YouandiModern", sans-serif;
	color: #6E6E6E;
	font-size: 16px;
	text-align: justify;
	margin: auto;
	overflow: auto;
}

div.agreement button.button-gradient {
	margin: 20px 0 10px 0;
	width: 250px;
	font-size: 20px;
}

#changepassbutton {
	margin-top: 20px;
}

div.detail1, div.detail2, div.deleteComplete, div.deleteComplete1, div.find-id-none,
div.find-pwd-none, div.mchangepass {
	display: none;
}

.delete-span {
	display: inline-block;
	margin: 25px 0;
	font-size: 16px;
}

div.agreement2 {
	height: 300px;
}

div.agreement3 {
	height: 380px;
}

/* Span */
.caution {
	width: 394px;
	margin: auto;
	text-align: left;
}

#c-idMsg {
	position: relative;
	top: -1.5px;
	left: 5px;
}

/* Join CSS */
li.address-input {
	margin-top: -40px;
}

#content-2, #newPasswordForm {
	width: 40%;
	margin: auto;
	text-align: left;
	padding-left: 45px;
}

.agreement-box {
	margin: 30px 0 10px 0;
	width: 394px;
	font-size: 10pt;
}

.agreement-color {
	color: tomato;
	margin: 0 5px;
}

.ul-agreement li span, .ul-agreement li a {
	position: relative;
	padding: 0px;
	bottom: 10px;
}

.ul-agreement li .span_agreementAll {
	padding-left: 10px;
	text-align: left;
	font-family: "YouandiModern";
	font-size: 16px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	top: -5px;
}

.label-dot, .label-dot-1 {
	display: inline-block;
	position: absolute;
	top: -9px;
	left: -4px;
	color: red;
}

.must-insert, .must-insert-1 {
	position: relative;
}

.must-insert-1 {
	margin-top: -28px;
}

#idMsg, #pwdMsg, #pwdMsg-check, #nameMsg, #emailMsg, #emailAuth,
#phoneMsg, #c-idMsg, #c-pwdMsg, #c-pwdMsg-check, #c-nameMsg,
#c-emailMsg, #c-emailAuth, #c-phoneMsg {
	position: relative;
	top: -1.5px;
	left: 5px;
	margin-right: 5px;
}

.choice-span {
	margin: 0 5px;
}

.pwd-check-img, .mypage-pwd-check-img {
	display: inline-block;
	background-image: url("../images/btn-eye-normal.png");
	background-repeat: no-repeat;
	appearance: none;
	border: none; cursor : pointer;
	width: 24px;
	height: 16px;
	position: relative;
	right: 40px;
	top: 4px;
	outline: none;
	padding: 0;
	margin: 0;
}

.mypage-pwd-check-img {
	top: -47.5px;
	left: 165px;

}


.pwd-check-img:checked, .mypage-pwd-check-img:checked {
	background-image: url("../images/btn-eye-select.png");
	background-repeat: no-repeat;
}


/* DeltePWD, DeleteCompany CSS */
.intro-1, .intro-2, .intro-3 {
	font-family: "YouandiModern", sans-serif;
	width: 394px;
	margin: auto;
	text-align: left;
	font-size: 16px;
	padding: 20px 0 14px 0;
}

.delete-id {
	font-size: 18px;
	font-family: "YouandiModern", sans-serif;
}

.delete-content {
	font-size: 13px;
	font-family: "Noto Sans";
	padding: 22px 0 20px 0;
}

.delete-caution {
	background: #E6E6E6;
	padding: 20px 11px 20px 20px;
	color: #D81E42;
	font-size: 13px;
	font-family: "Noto Sans";
	font-weight: 700;
}

/* Tab */
.content-3 {
	width: 40%;
	margin: auto;
	text-align: left;
	padding-left: 45px;
}

#individual-loginForm, #company-loginForm,
#individual, #company, #findId, #findPwd, #individual-login,
#company-login, #findIdForm, #findPwdForm {
	display: none;
}

#findId:checked ~ #findIdForm, #findPwd:checked ~ #findPwdForm, #individual-login:checked
~ #individual-loginForm, #company-login:checked ~ #company-loginForm {
	display: block;
}

#individual-tab, #company-tab, .findId-tab, .findPwd-tab,
#individual-login-tab, #company-login-tab, #update-tab, #order-tab {
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 15px 63px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

#delete-tab {
	margin-bottom: 0px;
}

#individual-tab:hover, #company-tab:hover, .findId-tab:hover,
.findPwd-tab:hover, #individual-login-tab:hover, #company-login-tab:hover, #update-tab:hover, #order-tab:hover, #delete-tab:hover
{
	color: #2e9cdf;
	cursor: pointer;
}

#individual:checked+#individual-tab, #company:checked+#company-tab, #mUpdate:checked+#update-tab, #mOrder:checked+#order-tab, #mDelete:checked+#delete-tab,
#findId:checked+.findId-tab, #findPwd:checked+.findPwd-tab,
#individual-login:checked+#individual-login-tab, #company-login:checked+#company-login-tab
{
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid #2e9cdf;
	border-bottom: 1px solid #ffffff;
}

/* Etc */
.intro, .joinIntro {
	font-family: "YouandiModern", sans-serif;
	font-size: 24px;
	padding-bottom: 60px;
}

.content-1, .content-4, .content-5, .content-mypage {
	width: 1100px;
	margin: auto;
	text-align: center;
	padding: 60px 0 100px 0;
}

.findId-tab, .findPwd-tab {
	padding: 15px 51px;
}

.sidebar {
	width: 200px;
	height: 880px;
	float:left;
	background-color: #FBFBFB;
	border: 1px;
	border-color: #DDD;
	position: relative;
	/*margin : 0px 10px 10px 400px;*/
}

.member-delete {
	position: absolute;
	bottom: 0;
}

.mypage-profile {
	margin: 45px 0 0 45px;
	width: 110px;
	height: 110px;
	border-radius: 55px;
	background: #D9D9D9;
}
/*.mypage-info {*/
/*	margin-top: 20px;*/
/*	text-align: center;*/
/*}*/

#mypage-id {
	margin-top: -5px;
	font-size: 15px;
}

.mypage-update {
	margin-top : 269px;
}

.profile-picture {
	margin: 18px 20px;
}

.intro-4 {
	font-family: "YouandiModern", sans-serif;
	font-size: 24px;
	padding: 60px 0;
}

/*.must-insert-5,  {*/
/*	margin: 20px 0 0 98px;*/
/*}*/

#mypage-update {
	margin-top: 30px;
}

#newpassInput, #newpassInputCheck {
	margin-top: -40px;
}

input[type="radio"] {
	display: none;
}

#update-tab {
	margin-top: 40px;
}

#mUpdate:checked+#update-tab, #mOrder:checked+#order-tab, #mDelete:checked+#delete-tab{
	border-bottom: 1px solid #ddd;
}

.content-mypage {
	display: flex;
	padding: 0px;
}

.sidebar ul {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mUpdate {
	margin-top: 40px;
}

.mUpdate, .mUpdate1 {
	padding: 20px 10px;
}

.delete-intro {
	margin-right: 330px;
	display: inline-block;
}

.toLogin {
	font-size: 15px;
	color: rgb(173,173,173);
}

/*.div-update {*/
/*	margin-right: 10px;*/
/*}*/

.deleteForm {
	margin-left: 150px;
}

li#active {
	border: 1px solid rgb(217, 217, 217);
	border-top: 2px solid #2e9cdf;
	border-bottom: none;
}

.mypage-insert {
	margin-right: 335px;
}

.mypage-insert-1 {
	margin: -40px 330px 0 0;
}

.jointab {
	display: inline-block;
	padding: 20px 64px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(217, 217, 217);
}

#mypage-update:disabled {
	background : lightgrey;
	cursor: default;
}

.mUpdate1:visited {
	color: initial !important;
}

.mypage-profile-setting {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: #454545;
	position: relative;
	left: 125px;
	top: -20px;
	cursor: pointer;
}
.profile-picture-1 {
	display: inline-block;
	width: 150px;
	height: 60px;
	margin-top: 20px;
}