/******* Commons *******/
* {
    margin: 0px;
    padding: 0px;
    font-family: "YouandiModern", "Apex New", "Noto Sans KR", sans-serif;
}

/******* Base *******/
h1, #div-gameList, #order-complete, #div-info, #div-price, #div-button, #div-nothing, #div-admin {
    margin: auto;
    width: 1100px;
}

#div-admin {
    width: 1600px;
    clear: both;
    display: block;
    overflow: hidden;
}

h1, h2 {
    padding: 30px 0 10px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #393939;

    font-family: "YouandiModern", sans-serif;
    font-size: 23px;
    color: #2B2B2B;
}

h2 {
    border: none;
    font-size: 20px;
}

h3 {
    padding: 0 20px 10px 0;

    font-family: "YouandiModern", sans-serif;
    font-size: 17px;
    color: #2B2B2B;
}

ul {
    list-style: none;
    padding-left: 20px;
}

span {
    font-size: 20px;
}

hr {
    margin: 10px 0;
}

select {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    border-radius: 5px;
    float: right;
    padding: 5px 10px;
    margin-right: 10px;

    font-family: "YouandiModern";
    font-size: 12px;
    text-align: center;
}

select:focus, select:hover, select:default {
    border: 1px solid rgba(85, 85, 85, 1);
    outline: none;
}

#genre {
    width: 120px;
    height: 40px;
    padding: 0px;
    font-size: 16px;
    float: none;
}

/******* Table *******/
#div-table {
    padding-bottom: 100px;
}

#table-gameList, #cart-price, #table-member-list, #table-game-list, #table-donation, #table-payment {

    border-collapse: collapse;
    width: 100%;
    margin: auto;

    font-family: "YouandiModern";
    text-align: center;
}

#table-member-list, #table-game-list, #table-donation {
    width: 790px;
}

#cart-price {
    width: 600px;
}

#table-gameList th, #cart-price th, #table-member-list th, #table-game-list th, #table-donation th, #table-payment th {
    padding: 6px 0 6px 0;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;

    font-size: 16px;
    color: #000000;
}

#table-gameList td, #cart-price td, #table-member-list td, #table-game-list td, #table-donation td, #table-payment td {
    padding: 10px 0 10px 0;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;

    font-size: 14px;
    color: black;
    text-align: center;
}

#table-member-list tr:last-child td, #table-payment tr:last-child td {
    border-bottom: none;
}

#table-gameList td img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    outline: none;
    background: #E6E6E6 0% 0% no-repeat padding-box;
}

#cart-price td:last-child {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

#cart-price td:first-child {
    font-size: 16px;
    color: #000000;
}

#table-gameList {
    margin-bottom: 20px;
}

/******* Button *******/
#btn-deleteAll, #btn-deleteSelected, #btn-deleteOne, #btn-refund, #btn-mslect-delete,
#btn-member-detail, #btn-game-detail, #btn-game-update, #btn-inquiry, #btn-fk, #label-file,
#btn-search-company, #btn-url, #btn-member-payment, #btn-report-cancel {
    padding: 3px 10px;
    background: #393939;
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

#btn-fk, #label-file, #btn-url {
    padding: 0px;
    display: inline-block;
    padding: 5px 13px;
    font-size: 14px;
    text-align: center;
}

#btn-cart, #btn-order, #btn-main, #btn-list, #btn-method, #btn-modal, #btn-goCart, #btn-register,
#btn-delete-member, #btn-modal-close, #btn-update {
    padding: 12px 80px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(to right, #682CAD, #2FC0CC);

    color: white;
    font-family: "Apex New";
    font-size: 20px;
    cursor: pointer;
}

#btn-register,#btn-delete-member, #btn-update {
    margin-top: 50px;
}

#btn-method {
    display: inline-block;
    padding: 0px;
    margin-left: 20px;
    width: 140px;
    height: 50px;
    opacity: 40%;

    font-size: 15px;
}

/******* CheckBox *******/
#checkAll {
    margin-right: 6px;
    width: 1rem;
    height: 1rem;
    border: 2px solid #2C2C2C;
    border-radius: 50%;

    appearance: none;
    cursor: pointer;
}

#checkAll:checked {
    background: #2C2C2C;
}

input[name="checkOne"] {
    width: 20px;
    height: 20px;
    margin: 3px 0px 0px 5px;
    appearance: none;
    background-image: url("../images/btn-check-normal.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

input[name="chk-member"] {
    width: 16px;
    height: 16px;
    outline: none;
    border: 2px solid black;
    border-radius: 8px;
    background: none;
    appearance: none;
    cursor: pointer;
}

input[name="chk-member"]:checked {
    background: black;
}

input[name="checkOne"]:checked {
    background-image: url("../images/btn-check-select.png");
    background-repeat: no-repeat;
}

#div-agreement input[name="checkOne"] {
    border: none;
}

#span-agreement {
    position: relative;
    top: -10px;
    font-size: 15px;
}

/******* a *******/
a {
    color: black;
    text-decoration: none;
}

#div-agreement a {
    color: blue;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #DDDDDD;
}

#detail1, #detail2, #detail3, #detail4 {
    position: relative;
    top: -10px;
    padding: 0 10px;
}

/******* Banner *******/
#top-bg {
    width: 100%;
    margin: auto;
    background-image: url("../images/img-bg.png");
    background-size: cover;
    height: 229px;
    background-repeat: no-repeat;
}

#base-layer {
    width: 1100px;
    margin: auto;
}

#top-bg-textarea {
    color: white;
    font-style: italic;
}

#top-title {
    font-family: "Apex New";
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding-top: 70px;
}

#top-subtitle {
    font-size: 20px;
    font-style: normal;
    padding-top: 15px;
    opacity: 0.6;
    font-weight: 500;
}

/******* div-delete *******/
<!--
-->
#div-delete {
    padding: 0 0 5px 0;
    text-align: right;
}

/******* div-button *******/
<!--
-->
#div-button {
    padding: 100px 0 100px 0;
    text-align: center;
}

/******* div-method *******/
<!--
-->
#div-method {
    margin: 0 0 20px 20px;
}

/******* div-margin *******/
<!--
-->
#div-margin {
    margin-bottom: 100px;
}

/******* div-info *******/
<!--
-->
#div-infomation {
    margin: 0 0 20px 20px;
    padding-left: 10px;

    font-family: "YouandiModern", sans-serif;
    font-size: 15px;
    color: #2B2B2B;
}

#p-infomationTitle {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #2B2B2B;
}

#p-infomationContent {
    margin: 0px;
    padding-left: 10px;
    font-size: 14px;
    color: #2B2B2B;
}

/******* div-agreement *******/
<!--
-->
#div-agreement {
    padding-left: 20px;
    margin: 0 0 50px 0;
}

/******* div-thankyou *******/
<!--
-->
#div-thankyou {
    padding: 50px 0 30px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2B2B2B;
}

/******* modal *******/
div#modal, #modal-admin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, .3);
    display: none;
}

div.modal-agreement, #modal-find-company {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 550px;
    margin: auto;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0px 3px 6px #0000001A, 0px 10px 20px #00000029;
}

#modal-find-company {
    width: 500px;
    height: 650px;
}

#modal-title {
    margin: 0px 0px 20px 0px;
    padding-top: 30px;
    text-align: center;
    font-family: "YouandiModern", sans-serif;
    color: #2B2B2B;
    font-size: 24px;
}

#modal-content, #modal-content-company {
    text-align: center;
    width: 370px;
    height: 340px;
    padding: 15px;
    font-family: "YouandiModern", sans-serif;
    color: #6E6E6E;
    font-size: 16px;
    text-align: justify;
    margin: auto;
    overflow: auto;
}

#modal-content-company {
    width: 370px;
    height: 400px;
}

div.detail1, div.detail2, div.detail3, div.detail4 {
    display: none;
}

/******* nothing in cart *******/
#p-nothing {
    margin-bottom: 200px;

    text-align: center;
    font-family: "YouandiModern", sans-serif;
    font-size: 25px;
    color: #2B2B2B;
}

/******* Admin Page CSS *******/
#div-sidebar {
    width: 200px;
    height: 850px;
    background: rgba(251, 251, 251, 1);
    border: 1px rgba(221, 221, 221, 1) solid;
    display: inline-block;
    float: left;
}

#div-viewer {
    width: 1100px;
    height: 800px;
    display: inline-block;
    margin: 25px 0px 25px 50px;
    float: left;
    text-align: center;
}

#ul-sidebar, #li-sidebar {
    padding: 0px;
}

#a-donation, #a-gamelist, #a-gameregister, #a-memberlist, #a-comment {
    width: 200px;
    padding: 15px 0px;
    background: none;
    border: none;
    display: inline-block;

    font-family: "Apex New";
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

#a-donation:hover, #a-gamelist:hover, #a-gameregister:hover, #a-memberlist:hover {
    text-decoration: none;
}

#a-memberlist {
    margin-top: 80px;
}

#div-member-menu {
    text-align: center;
}

#div-member-info, #div-donation-info {
    width: 800px;
    margin: auto;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
    border-bottom: 2px solid rgba(57, 57, 57, 1);
}

button[name="btn-member"] {
    margin: 0px 0px 20px 0px;
    width: 300px;
    height: 60px;
    border: 2px solid rgba(229, 229, 229, 1);
    border-bottom: none;
    background: rgba(233, 233, 233, 1);

    font-family: "Apex New";
    font-size: 16px;
    color: rgba(110, 110, 110, 1);
    text-align: center;
    cursor: pointer;
}

#btn-member-company {
    margin-left: -10px;
}

#p-title, p-member-count {
    margin-bottom: 30px;
    color: rgba(43, 43, 43, 1);
    font-size: 24px;
    font-weight: bold;
}

#p-member-count {
    padding-top: 10px;
    display: inline-block;
    float: left;
    font-size: 15px;
    font-weight: normal;
}

#div-member-info #select-order, #btn-mslect-delete {
    display: inline-block;
    float: right;
}

#select-year, #select-month, #btn-inquiry {
    display: inline-block;
    float: left;
}

#div-member-table, #div-game-table, #div-donation-table {
    margin-top: 10px;
}

input[type="file"] {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}

#ul-regi {
    width: 800px;
    margin: auto;
    padding: 30px 0px 0px 100px;

    text-align: left;
}

#ul-regi li {
    width: 700px;
}

#ul-regi input[type="text"], #imagePath, #description, #company-name, #selected-company,
#ul-detail input[type="text"] {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    width: 350px;   height: 40px;
    padding: 0 10px;
    margin-bottom: 20px;
    background: none;
    resize: none;

    font-family: "YouandiModern";
    font-size: 14px;
    text-align: left;
}

#ul-detail input[type="text"]{
    border: none;
    width: 300px;
    font-size: 15px;
}

#company-name, #selected-company {
    width: 200px;
}

#selected-company {
    display: block;
    margin: auto;
}

#ul-regi input[type="text"]:hover, #description:hover {
    border: 1px solid black;
}

#description {
    width: 420px;
    height: 200px;
    padding: 5px 10px;
    word-break: break-word;
}

#li-btn-register, #ul-company-list {
    padding: 0px 10px;
    text-align: center;
}

p[name="p-regi"], #p-detail {
    width: 120px;   height: 40px;
    display: inline-block;
    margin: 0px 10px 20px 0px;

    font-family: "YouandiModern";
    font-size: 18px;
    text-align: right;
}

#p-desc {
    vertical-align: top;
}

button[name="company-list"] {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background: none;

    font-family: "YouandiModern";
    font-size: 14px;
    font-weight: normal;
    color: black;
    cursor: pointer;
}

#div-company-result {
    margin: 10px 0px;
}

#btn-back {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    outline: none;
    border: none;
    background-image: url("../images/icon_back.png");
    cursor: pointer;
}


