<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" xml:lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">

  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/login_script.js}"></script>
  <script th:inline="javascript">
    //JavaScript 코드
    /*<![CDATA[*/
    let result = [[${result}]];
    let url = [[${url}]];

    if(result == "change") {
      alert("비밀번호 변경 성공");
      location.href= url;
    }else if(result == "join") {
      alert("회원가입 성공");
      location.href= url;
    }else if(result == "login") {
      alert("로그인 실패");
      location.href= url;
    }

    /*]]>*/
  </script>

</head>
<body>
<!--header-->
<div th:replace="/main/header::headerFragment"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">Login</p>
      <p id="top-subtitle">#로그인</p>
    </div>
  </div>
</section>
<section class="content-1">
  <p class="intro">로그인</p>
  <input id="individual-login" type="radio" name="loginSelect" checked>
  <label for="individual-login" id="individual-login-tab">개인 회원</label>
  <input id="company-login" type="radio" name="loginSelect">
  <label for="company-login" id="company-login-tab">법인 회원</label>

  <form th:action="@{/login(redirectURL=${param.redirectURL})}" method="post" th:object="${member}" name="memberForm" id="individual-loginForm">
    <div>
      <ul>
        <li>
          <input type="text" name="memberId" placeholder="아이디" th:value="${member?.memberId}">
        </li>
        <li>
          <input type="password" name="password" placeholder="비밀번호" size="15" th:value="${member?.password}">
        </li>
        <span id="login-result"></span>
        <li>
          <button type="button" class="button-gradient" onclick="memberIdPassCheck()">LOGIN</button>
        </li>
        <li>
          <a th:href="@{/findMember}" class="link-findAccount">아이디 찾기</a>
          <a th:href="@{/findMember(selectedTab='findPwd')}" class="link-findAccount">비밀번호 찾기</a>
          <a th:href="@{/join}">
            <span class="link-signUp">Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
  </form>

  <form th:action="@{/login(redirectURL=${param.redirectURL})}" th:method="post" th:object="${company}" name="companyForm" id="company-loginForm">
    <div>
      <ul>
        <li>
          <input type="text" name="companyId" placeholder="법인 아이디" th:value="${company?.companyId}">
        </li>
        <li>
          <input type="password" name="password" placeholder="비밀번호" id="companyPass" size="15" th:value="${company?.password}">
        </li>
        <li>
          <button type="button" class="button-gradient" id="companylogin" onclick="companyIdPassCheck()">LOGIN</button>
        </li>
        <li>
          <a th:href="@{/findCompany}" class="link-findAccount">아이디 찾기</a>
          <a th:href="@{/findCompany(selectedTab='findPwd')}" class="link-findAccount">비밀번호 찾기</a>
          <a th:href="@{/joincompany}" class="link-signUp">Company Sign Up</a>
        </li>
      </ul>
    </div>
  </form>
</section>
<!--footer-->
<div th:replace="/main/footer::footerFragment"></div>
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/login_script.js}"></script>
</body>
</html>