<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <title>제작사(팀) 소개</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
  <link rel="stylesheet" th:href="@{/css/company.css}">


  <!--css 초기화-->
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">-->

  <!-- SWIPER 외부 라이브러리 연결-->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <!-- Google material icon 사용 class="material-icons"-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">

  <!--  bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>

</head>

<body style="padding: 0">
<div th:replace="~{main/header :: headerFragment}"></div>

<div id="board-top-menu">
  <div>
    <ul>
      <li><button type="button" class="btn-style" name="listUpdate">수정</button></li>
      <li><button type="button" class="btn-style" name="listDelete">삭제</button></li>
    </ul>
  </div>
</div>
<div class="main-container">

  <!--  제작팀 소개 -->
  <div style="margin: 70px 20px 0 150px ">
    <div style="display: flex; align-items: center;">

      <input name="id" type="hidden" value="[[${intro.id}]]">
      <img th:if="${intro.upload != null}" th:src="@{/upload/}+${intro.upload}" alt="${intro.name} 팀 로고"
           style="margin-right: 20px; width: 225px; height: 225px;">
      <div id="introduce">
        <div style="font: italic normal 900 28px Apex New;" th:text="${intro.name}"></div>
        <p> Game Delover Team</p>
        <p th:text="${intro.title}"></p>
        <p th:text="${intro.content}"></p>
      </div>
    </div>
  </div>


  <!--  slider 시작 -->
  <div class="swiper">
    <p style=" text-align: center;">
      <a href="../alllist">
        <img style="display: block;padding: 50px; margin: 0 auto" th:src="@{/images/img-title-gameList.png}">
      </a>
    </p>
    <div class="swiper-wrapper">
      <div class="swiper-slide" th:each="slider:${sliderList}">
        <div class="card">
          <img th:src="${slider.imagePath}" class="card-img-top" style="height: 150px; width: 234px">
          <div class="card-body">
            <img th:src="@{/images/imt-title-top.png}" style="height: 15px; margin-bottom: 5px">
            <h6 class="card-title">New Game of Music</h6>
            <p class="card-text">Action RPG</p>
          </div>
          <div class="card-footer" style="background: linear-gradient(to right,#682CAD,#2FC0CC);text-align: center;">
            <small class="text-muted" >
              <a th:href="@{'detail/'+${slider.id}}" >자세히 보기</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>

  </div>

  <!--  공지사항-->
  <p style=" text-align: center;">
    <a th:href="@{../notice_list}">

      <img style="display: block; margin: 0 auto;padding-top: 50px" th:src="@{/images/img-title-notice.png}">
    </a>
  </p>
  <div id="content">
    <div id="board-list">
      <div class="board-top-menu">

        <p>Notice</p>
        <div id='bsearch-box'>
          <form name='boardSearch' action='/notice_Search' method='get'>
            <label>
              <input type='text' name='keyword' placeholder='검색어를 입력해주세요.'>
              <button type='button' id='btn-search'>
                <img th:src='@{/images/btn-boardSearch-press.png}'>
              </button>
            </label>
          </form>
          <ul>
            <li><button type='button' id='btn-style' name='getList'>목록</button></li>
          </ul>
        </div>
        <div id='clearFix'></div>
      </div>
      <table class="admin-btable">
        <tr>
          <th>선택</th>
          <th>번호</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
        <th:block th:unless="${#lists.isEmpty(list)}">
          <tr th:each="notice : ${list}">
            <td><input type="checkbox" name="list" th:value="${notice.postId}"></td>
            <td><span th:text="${notice.rno}"/></td>
            <td><a th:href="@{/notice/content/{no}(no = ${notice.postId})}" th:text="${notice.title}"/><span
                th:if="${notice.cmtCount > 0}" th:text=" ' [' + ${notice.cmtCount} + ']'"/></td>
            </td>
            <td><span th:text="${notice.name}"/></td>
            <td><span th:text="${notice.dateOutput}"/></td>
          </tr>
        </th:block>
        <tr th:if="${#lists.isEmpty(list)}">
          <td colspan="5" style="padding: 50px 0">등록된 게시글이 없습니다.</td>
        </tr>
        <tr>
          <td colspan="5">
            <div id="ampaginationsm"></div>
          </td>
        </tr>
      </table>
    </div>
</div>

<div th:replace="~{main/footer :: footerFragment}"></div>
<script th:inline="javascript" th:src="@{/js/company.js}"></script>
</body>
</html>