<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unique Games</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/board.css}">
  <link rel="stylesheet" th:href="@{/css/company-regi.css}">
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
  <script src="/js/board.js"></script>
</head>

<body>
<!--header-->
<div th:replace="~{/main/header::headerFragment}"></div>
<section id="top-bg">
  <div id="base-layer">
    <div id="top-bg-textarea">
      <p id="top-title">회사(팀) 소개글</p>
      <p id="top-subtitle">#등록</p>
    </div>
  </div>
</section>
<div id="content">
  <div id="board-write">
    <div id="board-top-menu">
      <p>Game_registration</p>
      <div id="clearFix"></div>
    </div>
    <form  action="insertIntro" method="post" enctype="multipart/form-data">
      <input style="visibility: hidden" type="text" name="cId" class="default-write" th:value="${company.companyId}">
      <table>
        <tr>
          <th>회사 명</th>
          <td><input type="text" name="name" class="default-write"  value="${company.name}" readonly></td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="title" class="default-write" value="${intro.title}">
          </td>
        </tr>
        <tr>
          <th>소개 글</th>
          <td><textarea type="text" name="content" cols="30" rows="5"
                        class="default-write" th:value="${intro.content}"></textarea></td>
        </tr>
        <tr>
          <th>업로드</th>>
          <td><input type="file" name ="uploadFile" style="height: 30px;"/></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><input type="submit" style="height: 30px;" value="새글 등록"/></td>
        </tr>
      </table>
    </form>
  </div>
</div>
<!--footer-->
<div th:replace="~{main/footer :: footerFragment}"></div>
</body>

</html>